[2019-02-21 06:43] YourTechBud opened #28 "Need to improve the docs and quick start"
The docs are not good enough. People new to the project won't be able to understand its aim and where it fits. Also the quick start seems to be a bit scattered and doesn't paint a clear picture regarding what it does.

[2019-02-23 00:35] marblewraith commented on #28
I think you haven't clearly articulated what it actually is, i mean just reading github alone is a little confusing (comments in parens):

Both of these are a bit misleading since [AFAIK] space-cloud is supposed to be a compiled abstraction layer for the stack which allows interaction via REST. You need to work out 2 things IMHO:

1. A succinct description of what the product is.

2. A mission sta

[2019-02-23 13:39] YourTechBud commented on #28
Yes the articulation of the tool is something we need to get right. Block diagrams would definitely help.

@marblewraith you are absolutely right here. To be clear, high performance is for high throughput and low latencies.

Any suggestions on what we can refer to `space-cloud` as? It's definitely not a service (as in a SaaS tool). Not sure on what to call it. Any ideas?

-----------------------

[2019-02-24 00:25] marblewraith commented on #28
I'm leaning towards `microservice` right now, as generically that's what it seems to be. An abstraction based service specifically running for databases within architecture.

Note there is an important distinction between service and microservice, the latter is very granular with regards to purpose and scope, and can be easily integrated with other microservices.

Whether you want to add other des

[2019-02-24 08:31] YourTechBud commented on #28
I'm not sure if that's the term we can adopt. Correct me if I'm wrong, but there would be different microservices for newsfeed, comments, user management, etc in a social media app right (depends largely on the architecture)? In Space Cloud you'd have multiple instances of the same process running. In a way it does go back in time to the monolithic services we had. The idea is that a single binary

[2019-02-25 01:02] marblewraith commented on #28
You seem to be confusing microservice architecture (MSA; implementation of software) with software architecture (how specific functionality is implemented via software). Granted there is no concrete definition for what a micro service is, however:

https://en.wikipedia.org/wiki/Microservices

Essentially space cloud, is exposing the database (via REST / HTTP), in other words it's either augmenting

[2019-02-25 04:48] YourTechBud commented on #28
Yes, this is what I am talking about. Just to be clear, Space Cloud does have external dependencies on softwares like databases, message brokers, object stores, etc. depending on the modules being used. But again they aren't counted as microservices.

I agree we need to build a lot of sample applications to demonstrate that this is actually possible. Google Firebase has made life for us a lot easi

[2019-02-25 06:04] marblewraith commented on #28
Things are getting clearer, seems i had the wrong idea, because you described it on reddit only with relation to the database.

But the scope seems to be larger, like you're trying to create your own back-end ecosystem, almost like an open source orchestration tool + inhouse runtime.

I'll need to think on it more.

[2019-02-25 07:05] YourTechBud opened #29 "The config file used in the example can be more elaborate"
I thing the config file provided in the example [here](https://github.com/spaceuptech/space-cloud/blob/master/examples/basic-todo-app/config.yaml) should cover all the possible configuration. Maybe we can put the defaults of each module (enabled = false)?

Also it will be of great help if the config file has helpful comments. The config file should be self documenting.

[2019-02-26 04:12] YourTechBud commented on #28
I wouldn't be that ambitious to call it an entire ecosystem right now (that would make the scope a bit too large).

But the objective is to rely on established pieces of technology for the various tasks (kafka for realtime, nats for functions, kubernetes for orchestration).

Your questions do add a lot of value. I'm working on your feedback to prevent such misunderstandings in the future. Thanks a

[2019-02-26 11:20] YourTechBud opened #32 "The stackoverflow, discord, and github links on docs is broken"
Need to fix those links in the docs template we are using.

[2019-02-26 11:24] YourTechBud opened #33 "Space CLI isn't functional. Remove that from the docs completely"
Running `npm install -g space-cli` installs an incorrect npm package. Let's completely remove the concept of `space-cli`.

Referring to issue on fixing docs #28

[2019-02-28 17:38] YourTechBud commented on #28
@marblewraith I've updated the readme. Do you think it's more accurate now?

[2019-03-04 21:53] YourTechBud commented on #33
Fixed in #38

[2019-03-04 21:53] #33 closed

[2019-03-04 21:57] YourTechBud commented on #32
This has been fixed

[2019-03-04 21:57] #32 closed

[2019-03-12 01:35] marblewraith commented on #28
Definitely an improvement on the docs, i was thinking hard on it over the past few weeks and i can't really come up with anything better, so perhaps you're right and sticking with a generic term such as "web server" is the best option for now.

Though i did have a thought, if you want to continue the "space" analogy, perhaps it's worth breaking the project up into smaller repo's so naming is easie

[2019-03-13 02:58] YourTechBud opened #47 "The docs styles isn't proper"
I noticed some styling issues with the docs specifically for the `code` tags. Can we make the long code lines wrap automatically?

Also, it would be great if the width of the docs would be larger on the browser.

[2019-03-16 05:45] Jayesh333 opened #48 "Add transaction support"
We need to provide a unified transaction api for all the databases that support transactions.

[2019-03-17 13:06] VirajRG opened #49 "Custom fields in signUp of user management module"

[2019-03-18 05:18] YourTechBud commented on #49
@VirajRG Right now there are no provisions to add your own fields while using the user management api (`db.signUp()`). You can add fields by issuing an update query on the users table / collection though.

Also, in SQL (where we have a fixed table schema), you can add as many columns as you like. However, the user management module will only use the `id`, `name`, `email`, `pass` and `role` columns

[2019-03-18 05:35] YourTechBud commented on #28
@marblewraith I hear your point. Love the idea to take the "space" analogy forward. I really want to do it right way. Just thinking how to go forward with it.

I'm more inclined towards the mono repo approach to keep everything in a single place though. There would be some other way to make this happen.

[2019-03-18 05:43] YourTechBud opened #50 "The download config file steps in the quick start guide leads to errors"
I've heard quite a few people having troubles with downloading the config file step. Apparently copying and pasting the config directly in a file doesn't work.

@KhushalPShah faced the same issue I guess.

[2019-03-18 05:53] Jayesh333 commented on #49
Should we reflect on having an user management module in the first place? The only additional benefit it is providing now, over the user implementing the user management functionalities himself via the crud (which is more flexible) is avoiding the sign-in logic.

[2019-03-18 06:14] YourTechBud commented on #49
That does makes sense. Ideally Space Cloud must have modules which integrates with other technologies. Shouldn't be anything more.

@Jayesh333 maybe we should see how authentication is done in other systems?

[2019-03-18 07:13] Jayesh333 commented on #50
Can we have some more context to this? Like on what OS does this problem arises and what errors are reported? @KhushalPShah

[2019-03-18 07:18] Jayesh333 opened #53 "Filestore module doesn't let us delete a file in localstorage"

[2019-03-18 07:26] Jayesh333 opened #54 "Allow folder(s) to be auto created when uploading a file if the given path doesn't exists"
Should there be an options struct {upsertFolder: true} or should it be the default behavior?

[2019-03-18 07:32] YourTechBud commented on #54
Write not overwriting the file is the default behaviour. We should, however, have an option to disable this perhaps?

[2019-03-18 07:37] Jayesh333 commented on #54
So shall we keep an options struct to turn this functionality on and off while the default behavior can be provided to the user by the client API by providing the intended default option?

[2019-03-18 07:37] YourTechBud commented on #54
Let's do that!

[2019-03-18 09:48] #53 closed

[2019-03-18 09:49] #54 closed

[2019-03-18 09:51] YourTechBud commented on #50
I think this links back to #28.

[2019-03-18 12:29] KhushalPShah commented on #50
I tried copying the contents of the config file, as well as downloading the config file.
Neither of it worked.
I tried it on Ubuntu.

[2019-03-19 07:37] YourTechBud opened #57 "Need logging in Space Cloud"
Currently space cloud doesn't provide any logging. We need a proper logging mechanism with configurable levels.

[2019-03-19 10:20] YourTechBud opened #59 "Add joins to all supported databases"
We need to add support for doing joins. In SQL databases it would be a native join while in Mongo it would be an application side join.

The concern I have here is, how will the where (find) clause be applied on the joints table.

[2019-03-19 10:24] YourTechBud opened #60 "The production (distributed) version of Realtime is still pending"
We need to add kafka for the distributed realtime feature. Also we need not rely just on kafka, we can use any message broker with an at least once semantics for this task. Something like the pluggable backend for the file store module.

[2019-03-19 11:33] yash0530 opened #61 "Improper error codes while signing up"

[2019-03-19 11:58] KhushalPShah opened #62 "grpc is not realtime"
The GRPC endpoints are not Realtime yet.

[2019-03-19 13:32] YourTechBud commented on #61
We need to check all the error codes for the various endpoints and also make sue the error message is descriptive

[2019-03-19 13:37] YourTechBud commented on #62
We have this already enabled for the HTTP endpoints. @KhushalPShah you think you can take this up as well?

[2019-03-19 13:40] YourTechBud commented on #50
Whats the `space-cloud` version you are using?

[2019-03-19 13:41] YourTechBud commented on #48
We will be having databases which do not support transactions. So this will be a database dependent feature?

[2019-03-19 14:12] YourTechBud opened #63 "Need to add the functions module endpoint in gRPC"
Also, none of the function endpoints support streaming responses yet.

[2019-03-19 16:07] high-functioning-sociopath commented on #50
Unable to download config file.
Unsuccessful attempt to copy  and run the config contents(raw) to config.yaml
How does the space-up api pick up the index.html file? Because I tried saving the file at the same location as of config, but resulted in 404 not found error.

[2019-03-19 16:23] Jayesh333 commented on #50
When exactly did you get the 404 error? Immediately on running the space cloud or on making some request to space cloud via client api (if yes then which request)? Also what do you mean by space-up API pick up the index.html file?  And what's the version of the space cloud you are running? @high-functioning-sociopath

[2019-03-19 16:52] high-functioning-sociopath commented on #50
Following the tutorial, I copied the config file and downloaded the index.html file from the todo example.
I started the space-cloud through terminal which said the server is running on port 8080.
So when I went to localhost:8080, it displayed the 404 HTTP error , which means it is not able to find the file.
So how does the space-cloud know which file (front-end, viz. todo app) to run? Because now

[2019-03-19 16:59] YourTechBud commented on #50
@high-functioning-sociopath `space-cloud` doesn't host static files yet. Its a good idea to add that feature though. `space-cloud` only exposes the REST endpoints for the crud operations. Also, space cloud would throw an error if it couldn't load the config. @Jayesh333 we should add a log message saying "config loaded or something similar to make it more explicit.

You'll have to open the html fil

[2019-03-19 17:05] Jayesh333 commented on #50
Yess agreed we should add a message saying config file loaded. Maybe we can also add a message saying that your *backend server* is up and running on port 8080 to make it more precise. Would that help? @YourTechBud @high-functioning-sociopath

[2019-03-19 17:22] high-functioning-sociopath commented on #50
Oh okay. I'll try doing that. @YourTechBud
Yes it would really be helpful for debugging. @Jayesh333
Also if would be really great if the guide was clearly defined.

[2019-03-19 17:27] YourTechBud opened #65 "Can space-cloud download the example and run them directly?"
It would be great if the `space-cloud init` command could setup the examples and start them as well.

[2019-03-19 17:58] high-functioning-sociopath opened #66 "Request to allow hosting static files."
It would be really useful if space-cloud allowed the user to host static files as well.
Adding this feature will definitely help space-cloud lift up above the others.

[2019-03-20 02:59] YourTechBud commented on #50
@KhushalPShah I think your problem was different? Can you tell us what was it you faced? Like with the steps?

[2019-03-20 03:05] YourTechBud commented on #66
I think we must do that. It would be an awesome feature to have. Maybe we could have some plugins to host projects made in angular and react as well?

@high-functioning-sociopath what kind of static file hosting where you talking about? Did you mean `space-cloud` should host you website and other stuff as well? If yes, what's wrong with something like nginx and Apache web server in front of `space

[2019-03-21 13:41] atharva29 opened #70 "error while creating config via Init command in Windows"
Error thrown :-
/d:\codeformer\space-cloud\space-cloud.yaml: The filename, directory name, or volume label syntax is incorrect.

[2019-03-21 18:26] KhushalPShah commented on #62
Sure...Will be done!

[2019-03-22 02:26] YourTechBud opened #72 "Need to create Transaction endpoint in grpc"
A new transaction endpoint is in the works for http. We need to do the same for grpc.

[2019-03-22 04:34] Jayesh333 opened #73 "Use context in SQL"
Use the context object in every SQL db operation similar to mongo

[2019-03-22 05:57] YourTechBud opened #74 "Authorisation should happen on the document level in case of insert many"
Currently the user will have to deal with arrays in the security rules for insert many operations. Lets break it down to the document level.

[2019-03-22 08:55] YourTechBud commented on #62
Solved in #71

[2019-03-22 08:55] #62 closed

[2019-03-24 09:10] Jayesh333 opened #78 "Schema validation"
### The problem faced right now
There's no way to enforce a schema for schemaless databases(like MongoDB) in SC.

### How can it be solved
Allow SC to accept a schema via Mission control for various collections. This schema should have the following field level config optons:
- Data type (int, string, bool etc)
- Default value
- Required
- Optional encryption / hash / bcrypt operation

[2019-03-25 04:41] #73 closed

[2019-03-25 04:44] YourTechBud commented on #47
Also, it would be great if we could have syntax highlighting. Lets use code mirror any anything similar for the `code` blocks

[2019-03-25 10:30] VedantParanjape opened #79 "Add mechanism to use most appropriate technologies for the given Cloud vendor"
Using NATS on Gcloud and Amazon's internal Service on AWS

[2019-03-25 10:40] VedantParanjape opened #80 "Typo mistake in Readme"
The main reason Space Cloud was born was to simplify the app / web development process. Right from making simple ~~CURD~~ CRUD operations to syncing data reliably in a distributed environment, everything must be as simple as a function call.

[2019-03-25 10:40] VedantParanjape opened #81 "Typo mistake in Readme"
The main reason Space Cloud was born was to simplify the app / web development process. Right from making simple ~~CURD~~ CRUD operations to syncing data reliably in a distributed environment, everything must be as simple as a function call.

[2019-03-25 10:43] YourTechBud commented on #79
maybe we can add some functionality to the `space-cloud init` command to generate a config for a cloud provider? Something like `space-cloud init --cloud aws`?

We'll first have to add support for all those technologies. Lets make a list of mapping the tech we are using with the one these cloud vendors provide. We need to make sure they follow the same semantics though!

[2019-03-25 11:06] YourTechBud commented on #81
same as #80

[2019-03-25 19:13] #80 closed

[2019-03-25 19:15] VedantParanjape opened #83 "insecure connection between server and client"
SSL absent, no provision to transfer data in a secure manner

[2019-03-25 19:18] VedantParanjape opened #84 "unsafe password handling"
actual plaintext passwords being sent in user management, really unsafe thing to do. Standard way is to salt the passwords and the compare the hashes, not plain text passwords

[2019-03-26 05:15] YourTechBud commented on #84
We can add this feature to the user management module. Open to contributions for this one.

[2019-03-26 05:19] YourTechBud commented on #83
You would usually have a load balancer or a reverse proxy like Nginx which would terminate the SSL. But we could have SSL/TLS support in golang directly for the http, and grpc servers.

[2019-03-26 05:24] YourTechBud commented on #78
This will add another layer of security. We should probably add it for the v1 release.

[2019-03-26 05:27] YourTechBud commented on #81
solved

[2019-03-26 05:27] #81 closed

[2019-03-26 05:28] YourTechBud commented on #79
@Jayesh333 should we put it for the v1.0.0 release?

[2019-03-26 05:32] YourTechBud commented on #66
@high-functioning-sociopath ?

[2019-03-26 07:49] YourTechBud opened #86 "Need to create a gRPC endpoint to subscribe / unsubscribe for realtime changes"
This will be similar to what we have over websockets currently.

[2019-03-26 07:54] YourTechBud opened #87 "Need to create gRPC endpoints for the filestorage module."
Do we even wanna do this? @Jayesh333  and @KhushalPShah we should select which function's we want in GRPC.

[2019-03-26 07:58] YourTechBud opened #88 "The transactions function in GRPC is named as `HandleTransaction`. Let's rename it to transactions."
@KhushalPShah try to finish this off asap. Will need this to be resolved to merge #85.

[2019-03-26 18:42] VedantParanjape commented on #79
@YourTechBud fair enough

[2019-03-26 18:43] VedantParanjape commented on #83
yes, it should be built into the bones, not some exterior layers providing security

[2019-03-27 03:39] Jayesh333 commented on #84
The hashing will be performed on the back end right? Or should the front end send hashed passwords to space cloud directly?

[2019-03-27 04:05] Jayesh333 commented on #79
Additional technologies that we will need to support for different modules are:

1] **Real time** :
- Kinesis (AWS)
- Azure Event Hub

2] **Functions**:
- Amazon MQ / Amazon simple notification service (SNS). Not sure which one to support.

3] **File storage**:
- Google cloud storage
- Azure blob storage

4] **CRUD**:
- Dynamo DB (mongo equivalent for AWS)
- Google cloud data store (mongo equivale

[2019-03-27 04:07] Jayesh333 commented on #78
This can serve the #84, if we want the passwords to be hashed on back end.

[2019-03-27 04:12] Jayesh333 commented on #50
@KhushalPShah is this problem still there?

[2019-03-27 04:46] Jayesh333 commented on #70
We need to try this on windows @YourTechBud

[2019-03-27 07:44] YourTechBud commented on #83
Makes sense. It's an easy one. Should i assign this issue to you?

[2019-03-27 09:00] Jayesh333 commented on #84
This might be solved by #78

[2019-03-27 09:33] VedantParanjape commented on #84
https://stackoverflow.com/questions/3391242/should-i-hash-the-password-before-sending-it-to-the-server-side

[2019-03-27 09:36] VedantParanjape commented on #84
@Jayesh333 no, as soon as we take a password from client, we convert it into a key, then hash the key, and preferably transfer it using encrypted connection.

[2019-03-27 09:37] VedantParanjape commented on #83
Sure, i can do this.

[2019-03-27 12:27] #88 closed

[2019-03-27 12:29] YourTechBud commented on #72
closed

[2019-03-27 12:29] #72 closed

[2019-03-27 12:30] YourTechBud commented on #84
Just hash the password in the client library. Let the server store it as is

[2019-03-28 02:35] high-functioning-sociopath commented on #66
Web page content files(HTML and stuff)
I was using MEAN Stack with express server to host it.
So if **space-cloud** allows these features as well, it would be amazing.
@YourTechBud

[2019-03-28 02:43] YourTechBud commented on #66
@Jayesh26 we should definitely add this feature. Maybe space cloud hosts files by default in a public directory?

[2019-03-28 04:09] Jayesh333 commented on #66
So this will be separate module which takes a port number and a directory path to host in the config file ?

[2019-03-28 04:51] YourTechBud commented on #66
Doesn't need to be a module as such. Let's use the same http server for this. All of our endpoints are prefixed by `/v1/api` as it is.

[2019-03-28 05:47] Jayesh333 commented on #66
At what endpoint should the static files be available? And what if user desires some other path?

[2019-03-28 05:59] YourTechBud commented on #66
So we can have the location of the public folder in our config. Hosting would by default have a ` / ` prefix. So a file `a.jpg` at the location `/path/to/public/images/a.jpg` will be available at the url `/images/a.jpg`. Thats the normal way static hosting would work for something like node.js

Optionally we can have a routes.yaml file present at the root of the public folder which can have advanc

[2019-03-28 16:25] YourTechBud opened #92 "What sample apps can we create as use cases for Space Cloud"
We should definitely create some use cases. Need ideas on what we can do!

Here are some to get started
- Realtime chat app with "last seen" and "is typing" feature
- An IoT Fleet management system
- a markdown editor where multiple people can collaborate in real time (google docs for markdown
- an e-commerce portal
- a social media platform

Even the most craziest of ideas are welcome!

[2019-03-29 03:16] #47 closed

[2019-03-29 11:54] YourTechBud opened #93 "Add GraphQL support for database and realtime modules"
Something similar to what we doing with gRPC

[2019-03-30 04:11] YourTechBud opened #95 "Transaction is still not supported in the js library"
The http endpoint is ready. Lets add support to the js client as well

[2019-03-30 16:41] YourTechBud opened #96 "The file authentication has a bug"
The prefix matching never works properly. @Jayesh26, can you have a look at it and fix.

[2019-04-01 06:07] YourTechBud opened #97 "Ability to put raw MongoDB where query in the mongo client sdk !"
We are already sending out the where clause as a MongoDB query to the backend. Why not let the user put the raw query directly?

I know this is a request for the client libraries. But lets put it here to keep track. The updates of it being done on individual clients can be done here.

[2019-04-01 06:40] YourTechBud opened #98 "Pub sub module"
### Problem faced right now
There's no way in SC to let users sync data easily without touching the Database module

### How can we solve it
We can have a pub sub module built into Space Cloud which lets users to publish and subscribe data.

We need to make sure the security rules are enforced for each object published. Also the consistency level needs to be tunable.

For example, if a client loos

[2019-04-02 03:29] YourTechBud opened #100 "The security rules don't match the project name on the client to the project id in the config file"
This is potentially a security bug for MongoDB clusters having multiple databases.

Need to solve this asap!

[2019-04-02 06:56] YourTechBud opened #101 "Need to rename transaction to batch in http and gRPC endpoints."
The transaction support we have added works more like a batch. Let's make that more explicit. This will require us refactoring:
- The https endpoint (url)
- The gRPC rpc name.
- The CRUD interface in `crud.go` and `operations.go`
- the func name in sql and mongo packages

[2019-04-02 07:07] Jayesh333 opened #102 "API for CRUD needs to be updated"
The API for CRUD needs to be updated to make it short and more intuitive.

Here's the current API for javascript:
[code]
In the new API there should not be explicit one() and all() method. The API should take the default operation type to be `all` since `one` is used very rarely and also `one` is not available on SQL. However, the user should be able to change the `op` by calling an optional `op`

[2019-04-02 07:21] Jayesh333 commented on #101
Here's how the batch API should look for javascript:
[code]
Same can be ported to other client libraries as well

[2019-04-02 09:29] YourTechBud opened #103 "Difficult to understand if space-cloud has actually started or not"
No where in the docs have we mentioned whats the output to expect when `space-cloud` has started successfully. We should add something in the docs

[2019-04-02 09:30] YourTechBud opened #104 "Need to create a language specific getting started in docs"
We need to make a language specific getting started guide as well. It should show the baisc commands which can be used along with the steps to import and initialise the library!

[2019-04-03 06:49] YourTechBud opened #105 "Can we publish internal Space Cloud events to a pluggable sink?"
We should have a mechanism to publish internal events for `functions` to subscribe on. We can publish events like
- CRUD operation hooks
- File Upload

[2019-04-03 11:48] KhushalPShah commented on #101
Have done the refactoring and have created a Pull Request.

[2019-04-03 16:53] Jayesh333 opened #108 "Need syntax highlighting in docs"

[2019-04-03 16:54] #108 closed

[2019-04-04 10:17] #101 closed

[2019-04-04 10:17] #63 closed

[2019-04-04 18:39] KhushalPShah opened #111 "Leverage the implementation of grpc CRUD to the CRUD module, similar to FaaS"
Just like Faas (using GRPC) has been implemented inside the FaaS module, with only a function call from the grpc server, we should have the same thing done for CRUD implementation using grpc as well.

[2019-04-06 02:54] #96 closed

[2019-04-08 05:11] YourTechBud opened #118 "Should we make a subreddit for Space Cloud?"
It might be too early right not. But should we make a subreddit for Space Cloud?

[2019-04-10 17:58] AliabbasMerchant opened #119 "AllRequest may be redundant"
Currently, `server.proto` defines `BatchRequest` in the following way:
[code]

Instead of `AllRequest` we can directly use the already defined `CreateRequest`, `ReadRequest`, etc
[code]

To be considered:
1. This new method will remove the `AllRequest` message.
2. The predefined messages will be used. This will help to segregate and identify the specific components in the batch request. This may a

[2019-04-12 13:52] YourTechBud opened #120 "The docs are not in sync with the readme"
The docs do not have the motivation section present in the readme. Need to make sure they both are in sync.

[2019-04-12 16:04] YourTechBud opened #121 "Support for search"
Can we add support for search in the database we already support.

[2019-04-13 06:18] Jayesh333 opened #122 "JWT token is not parsed correctly"
`space-cloud` doesn't removes the prefix - "Bearer " from the Authorization Header

[2019-04-13 07:02] #122 closed

[2019-04-13 07:56] YourTechBud commented on #119
This does make sense. We should get this done before work starts on the client drivers. @Jayesh333 and @KhushalPShah what do you guys think about it?

[2019-04-13 08:02] YourTechBud commented on #119
@AliabbasMerchant There is a problem with this. We'll loose the order of the requests. A batch must always be in order.

[2019-04-13 12:56] AliabbasMerchant commented on #119
Oh. Ok

[2019-04-13 16:44] Jayesh333 opened #126 "space-cloud is not usable on docker"

[2019-04-13 17:11] YourTechBud opened #127 "It seems like mongo is a dependency in the quick start"
We need to make sure MongoDB doesn't seem like a dependency. Let's make it more clear!

[2019-04-13 17:21] YourTechBud commented on #119
I say we stick to the current implementation? Don't want to rush this through. It would be a breaking change otherwise. @KhushalPShah what do you think?

[2019-04-13 18:22] Xeoncross opened #128 "Slow documentation loads"
The [documentation](https://spaceuptech.com/docs/security/database) is questionably slow in loading and rendering taking several seconds to download everything, then another couple to render the actual page content.

[2019-04-13 18:25] YourTechBud commented on #128
Such load times are totally unacceptable! @Jayesh333 we should get this fixed asap.

[2019-04-13 18:29] Jayesh333 commented on #128
There are couple of ways of doing that -
- improvising the current code of handlebars itself
- making it entirely static or using something like Hugo as suggested by @Xeoncross

[2019-04-13 18:30] Jayesh333 commented on #128
Before improving it we should first measure the current performance though. So that we can later measure the improvements.

[2019-04-13 18:46] YourTechBud commented on #128
Shouldn't the CDN be helping us here? Lets not rule that out either.

[2019-04-13 18:48] Jayesh333 commented on #128
Yess it should be helping out here. Let's debug and figure out first what's causing the slow down

[2019-04-13 18:54] Xeoncross opened #129 "Atomic / Conditional Writes Supported?"
There are a couple common types of database writes that are needed for many applications.

1. Atomic Counters (Increment / Decrement)
2. Race-safe updates
3. Transactional / Relational updates

### Details

1. Atomic counters are handy for synchronizing multiple clients writes without clobbering the data. MySQL, MongoDB, Redis, DynamoDB, etc.. all support them.

2. Race-safe updates (sometimes kno

[2019-04-13 19:09] akshayjj1997 opened #130 "Code markup needs to be improved on docs"
Also it takes a long horizontal scroll on mobile to view the code

[2019-04-13 19:15] YourTechBud opened #131 "Allow functions to render webpages"
Write not the functions module works only with JSON data. We should allow functions to return html as well.

[2019-04-13 19:23] daltonrowe opened #132 "Provide a Gatsby Source plugin"
Gatsby is a popular progressive web app generator providing code-split statically rendered React apps. Providing a source plugin would enable more developers to use their Space Cloud data in conjunction with Gatsby.

This relates to https://github.com/spaceuptech/space-cloud/issues/93

If GraphQL data retrieval is possible Gatsby can consume it with https://www.gatsbyjs.org/packages/gatsby-source-

[2019-04-13 19:25] KhushalPShah commented on #119
Yes, I guess lets keep things the way they are for now.
We can then keep on revising it to make it better if needed.

[2019-04-14 02:05] Jayesh333 opened #133 "No list of supported databases"
It's not very clear which databases we support. We should probably add a list of supported databases in readme and docs. It must also include all the postgres and MySQL adapter based databases that we support because of supporting MySQL and postgres like TiDb and CockroachDb @YourTechBud

[2019-04-14 03:07] HeyItsJs opened #134 "Document how client libraries work"
Also link the various client libraries we already have

[2019-04-14 04:20] AliabbasMerchant commented on #120
Why don't we use some docs generation library like sphinx or something??
We could use readme files and all to directly generate the docs website.

[2019-04-14 04:21] AliabbasMerchant commented on #120
Why don't we use some docs generation library like sphinx or something??
We could use readme files and all to directly generate the docs website.

[2019-04-14 04:23] AliabbasMerchant opened #135 "No scrollbar visible in the docs pages"
Problem exists in Mozilla Firefox, Google Chrome
OS: Windows 10

[2019-04-14 04:36] YourTechBud commented on #120
We are doing that right now. The entire docs is written in markdown! We have a node script which renders it into html!

The problem is that the entry point to the docs page and the readme file need to have slightly different content. That's where the problem is.

[2019-04-14 04:37] YourTechBud commented on #135
@akshayjj1997 can you have a look at it?

[2019-04-14 04:38] AliabbasMerchant commented on #120
Oh. Ok
There is lots for me to discover in the project files and about how the project works 🙈

[2019-04-14 04:40] YourTechBud commented on #120
Why don't we do this, lets make a contribution guide which also walks a person willing to contribute through the entire codebase and how its structured. How does this sound?

[2019-04-14 05:40] YourTechBud commented on #134
Yes we should definitely do this. Will help us build and maintain new client libraries and make it easier for contributions. Maybe @AliabbasMerchant can help. He has written the the entire python driver himself!!!

[2019-04-14 05:40] nicknonis opened #137 "Docs "edit docs!" footer and github url at navigation url different"
The url at footer of page "Edit docs!" sends user to different github page from the github link at top right of navigation bar.

Endpoint for footer url: https://github.com/YourTechBud/space-cloud/tree/master/docs/manual
Endpoint for navigation bar url: https://github.com/spaceuptech/space-cloud

[2019-04-14 05:45] YourTechBud commented on #137
Got it. You think you can fix that?

[2019-04-14 05:48] nicknonis commented on #137
Sure! Shall I keep it pointed at /docs/manual?

from:
https://github.com/YourTechBud/space-cloud/tree/master/docs/manual
proposed change:
https://github.com/spaceuptech/space-cloud/tree/master/docs/manual

[2019-04-14 06:12] YourTechBud commented on #137
Yes. That looks good!

[2019-04-14 06:22] #137 closed

[2019-04-14 06:49] YourTechBud commented on #133
@Jayesh333 Lets get this in the Readme in the first half itself. Its already there here https://spaceuptech.com/docs/database

[2019-04-14 07:40] AliabbasMerchant commented on #134
Yup. Seems good. :+1:

[2019-04-14 08:46] YourTechBud commented on #135
Fixed in #138. Thanks @nicknonis for the super quick fix!

[2019-04-14 08:46] #135 closed

[2019-04-14 12:12] narzeja commented on #128
You have this in your html head:

[code]
It seems to set the class of `html` to `async-hide` (`opacity: 0 !important;`) and removes it after 4000 ms.

[2019-04-14 12:19] YourTechBud opened #140 "Can we integrate the likes of AWS lambda, etc. for the functions module"
Currently the functions module works only with engines which are deployed as microservices. While this works well to ease development, it does restrict the scalability and ops aspect of things.

Can we leverage the research and products already prevalent in the severless world like AWS Lambda? Like have a hooks / routes to trigger such FaaS as well as a part of our functions module?

[2019-04-14 13:24] MichaelLeeHobbs opened #141 "LDAP integration"
Just want to say awesome work! Would love to see built-in support for LDAP and other types of Federated auth.

For now, I'm going to write a custom sign-in function to handle this.

[2019-04-14 17:25] YourTechBud commented on #141
Haha. Thanks for the love! What part of it did you love the most?

That's actually a great idea. I am more interested in adding this support via an engine (function) instead. You think you can contribute back the code for the LDAP auth engine once you are done?

[2019-04-14 17:32] YourTechBud commented on #102
This is done in all the clients (js, java, go, python)

[2019-04-14 17:32] #102 closed

[2019-04-15 02:33] YourTechBud commented on #134
@AliabbasMerchant lets finish the python engine library then work on this? @Jayesh333 is this high priority right now?

[2019-04-15 13:32] elvarb commented on #133
https://spaceuptech.com/
https://spaceuptech.com/images/index/plugNplay.png

That image is showing various databases that are not supported or not yet supported.

[2019-04-15 13:36] Jayesh333 commented on #133
True @elvarb . We intend to support all databases from that image. Right now we only support 3 - MySQL, Postgres and MongoDb. We need to make it clear in readme which databases we support and which we are looking to support in the near future.

[2019-04-15 13:44] elvarb commented on #133
Looking forward to Elasticsearch support, maybe there should be a ticket for each future supported database so people can watch those issues specifically.

[2019-04-15 14:37] YourTechBud commented on #133
Hey @elvarb thats an amazing idea. Why don't you create the first issue requesting elasticsearch support and what features you expect in it?

[2019-04-15 23:15] ollykel commented on #84
NEVER DO THIS. The hash effectively becomes the password, and anyone who manages to access the users table will be able to use the hash to log in. With server-side hashing the hacker still needs to know the original password to log in.

Always handle hashing + salting (and really, any security-critical business logic) server side, where you have complete control over the process.

[2019-04-16 01:19] YourTechBud commented on #84
Makes sense. There is no easy way out on this one.

[2019-04-16 01:24] bysir-zl opened #146 "How to control that only partial fields are allowed to be updated?"
The title is all, Thank you for your help.

[2019-04-16 01:45] YourTechBud commented on #146
Thats a great question!! If i understand this question, you want to prevent the client from updating certain columns?

Assuming that's the case and the field / column you want to protect is named `protectMe`, you can have a `match` rule something like this:
[code]

the solution above is not documented I guess. The `utils.exist()` function seems to be a well kept secret. @Jayesh333 we should get th

[2019-04-16 03:42] YourTechBud opened #147 "The docs for the security rules must have a section or page for examples"
Currently, we are just explaining the options users have to write the security rules. While this is great it, it isn't clear on how flexible the rules really are.

Maybe we could some common usage patterns in the docs? It would help users to get started with writing security rules and ensure all apps built with space cloud are secure.

[2019-04-16 04:48] sharadregoti opened #148 "Updating docs"
Can u create an image or write in the doc
The usual way of writing backend code
&
What changes after using space cloud

[2019-04-16 04:50] Jayesh333 commented on #148
Great point @sharadregoti. We should definitely be doing this.

[2019-04-16 07:08] ollykel opened #149 "Secure initialization for SQL databases"
Just want to say that I think this is a great project, even though it's still in beta. Keep up the good work!

I noticed in the [docs for configuring databases](https://spaceuptech.com/docs/database/config) that you seem to recommend using the root user's login credentials for SQL databases. Best practice would be to advise users to create a new user for each service, then grant that user privileg

[2019-04-16 09:06] YourTechBud commented on #149
Hey @ollykel!! That's actually a great suggestion! A quick clarification though. We do not recommend, using the root user at all. We should reflect that in the docs though. Also, currently you as the user have to create the database user roles and define the roles and tables.

We should absolutely do that. Can you raise a separate ticket for that??

We should definitely do that. But how can we acc

[2019-04-16 11:15] ollykel opened #150 "Support reading secrets from secure files"
Currently the config file format requires you to provide login credentials for SQL database connections like this:
[code]
This exposes the user's login credentials to anyone who gets access to the source code or the image.

Services like [Docker Secrets](https://docs.docker.com/engine/swarm/secrets/) avoid this by storing secrets separately from the image and providing them to the container at sta

[2019-04-16 23:51] fega opened #152 "Just a not important issue"
Hey, I want to comment that I implemented something similar in Node.js :

https://github.com/fega/mongo-server

Great project, I'm anxious to use it in production!

[2019-04-17 00:39] looterz opened #153 "HTTP/2 Support"
What are the current plans regarding HTTP/2 support for the REST API? I think it would make sense to be HTTP/2 by default, and have an option for opting into the older protocol or support falling back.

[2019-04-17 01:04] ollykel commented on #149
The user can always log into the database as an admin after it has been initialized and add new columns to the users table:
[code]
This way the minimum columns will be there, but the user will not be restricted to them.

Creating a new database and user and granting privileges only takes a few queries, so that should be manageable. Other than initializing the users table, it probably is best to le

[2019-04-17 01:38] YourTechBud commented on #152
Good stuff buddy! All the best

[2019-04-17 01:38] #152 closed

[2019-04-17 01:44] YourTechBud commented on #149
Awesome! I understand your point better now. I'm taking two things away from this. Prompt me if i missed anything.

- There should be a better way to manage secrets like db connections (we already have an issue on that open)
- Auto set-up the `users` table to make life a lot easier

Can you create another ticket for the second point?

[2019-04-17 01:53] YourTechBud commented on #153
Thats actually a great suggestion! The golang http driver defaults to HTTP/2. Its on the client to initiate the http requests using http/2. The js client consumes the rest endpoints also defaults to http/2 (if supported by the browser). On the other hand, all other clients (in different languages use the gRPC endpoint which uses http/2 and protobuf under the hood.

So i believe we already have thi

[2019-04-17 01:59] YourTechBud opened #154 "Lets add the python and golang api to the readme"
We have implemented the python and golang api already. Time to add them to the readme. Lets leave java as coming soon!

@AliabbasMerchant wanna take this up?

Also, where are we talking about the languages we support?

[2019-04-17 02:01] YourTechBud commented on #148
We should do this to compare our real-time module I guess.

[2019-04-17 02:05] YourTechBud commented on #150
Thats sounds like an interesting idea! Another way we could do this is provide the secrets after space cloud has started via a configurator service. That would also help us sync the config of the various space clouds (in a Distributed environment).

But lets start by reading the secrets from a separate file. We will require a standardized format for that though.

[2019-04-17 02:12] Jayesh333 commented on #150
Would reading these secrets through environment variable be a good idea?

[2019-04-17 02:15] YourTechBud commented on #150
Oh we can have an environment variable mentioned in the config file itself! No need for separate files in that case!

[2019-04-17 02:21] looterz commented on #153
Okay awesome, thanks!

[2019-04-17 02:21] #153 closed

[2019-04-17 02:23] AliabbasMerchant commented on #154
Yup. Should we just put up a link for the Java Client and mention "Work in progress"??

[2019-04-17 02:31] Jayesh333 opened #155 "Check name of database"
We should add some sort of security check to make sure that the user is not allowed to write into any other database

[2019-04-17 03:09] #154 closed

[2019-04-17 03:39] YourTechBud commented on #155
There already is an active issue on this #100. Let's move the discussion there.

[2019-04-17 03:39] #155 closed

[2019-04-17 06:39] ollykel commented on #149
Great! That was essentially the point of this issue. Also remember to change the default conn strings for sql-mysql and sql-postgres to use a different username than root.

[2019-04-17 07:11] YourTechBud commented on #149
Perfect! So @ollykel can you open up two tickets? One for correcting the docs and one for auto creating the `users` table?

We can't use this ticket since the title seems to suggest something else.

[2019-04-17 07:21] YourTechBud commented on #61
Fixed in #157

[2019-04-17 07:21] #61 closed

[2019-04-17 07:54] ollykel opened #158 "Replace "root" in default connection string for SQL databases"
Currently the docs and space-cloud init default to using the root user in the MySQL connection string. It would be better to use a different name like "user" to guide users away from actually connecting with the root user. Something like this:
[code]

[2019-04-17 08:11] ollykel opened #159 "Auto-generate "users" table at initialization for SQL databases"
It would be easy to do with one query, provided the user has CREATE permission on the database. This is how it's done in [the docs](https://spaceuptech.com/docs/user-management/overview):
[code]
The user will still be able to modify the table after initialization using ALTER TABLE statements, so they won't be limited to these fields, it'll just make it easier to get started.

Of course, you'll wan

[2019-04-17 09:25] akshayjj1997 opened #160 "Introduction menu (first item) is not visible inside docs on mobile-version"

[2019-04-17 10:01] joeblew99 commented on #60
@YourTechBud Great idea.

I can help with a  NATS or NATS Streaming module, so users can use Kafka or NATS.

Do you guys have a gitter channel ?

[2019-04-17 10:18] YourTechBud commented on #60
Not really. But you can join us on discord. Here's the link: https://discord.gg/ypXEEBr.

This is a super important feature and I would love to work with you to get this done!

[2019-04-17 10:20] YourTechBud commented on #149
The appropriate issues have been opened here: #150, #158, and #159. Hence closing this one!

[2019-04-17 10:20] #149 closed

[2019-04-17 12:03] speshak commented on #57
Do you have any thoughts on what this might look like?  Should the log level be configurable via the config.yaml or as a CLI parameter?

[2019-04-17 12:11] YourTechBud commented on #158
We need to fix this in the `template.go` file in the `config` folder. Need to fix this in the docs as well.

[2019-04-17 12:15] YourTechBud commented on #160
@akshayjj1997 Why don't you fix it?

[2019-04-17 13:36] Inconnu08 commented on #70
@YourTechBud This is not a bug. It's working fine for me.

@atharva29 You have a typo on your file address. If you're using the whole drive address, it should start with the drive(volume) letter not with a `/`. So it should be:
`d:\codeformer\space-cloud\space-cloud.yaml`
assuming your config file is located there.

[2019-04-17 13:39] YourTechBud commented on #70
Ah! Cool. So it works! Closing the issue now! @akshayjj1997 can you try this once to confirm?

[2019-04-17 13:47] YourTechBud commented on #70
@Inconnu08 the bug exists. The default project name seems to be incorrect! So the init command works only if you change the project name! You think you can fix this?

[2019-04-17 14:48] joeblew99 commented on #60
There is a full Change Data Capture in TiDB.

[2019-04-17 15:50] YourTechBud commented on #60
Lets not make this implementation database specific. Won't help us scale in terms of databases we support!

[2019-04-18 09:07] KhushalPShah commented on #119
So can we close this issue?
As discussed, the main purpose for Ordering will be lost if we do not keep AllRequest.

[2019-04-18 14:05] ledex commented on #158
As far as I can tell this has to be changed in the config/generate.go.

[2019-04-18 14:55] YourTechBud commented on #158
@ledex you are right. My bad!

[2019-04-18 14:56] #158 closed

[2019-04-18 14:57] YourTechBud commented on #119
Yes. Let's close this

[2019-04-18 14:57] #119 closed

[2019-04-19 08:13] hyingreborn opened #167 "Can security rules provide a global default option? I have more than 100 tables. I don't want to write 100 rules. ..."
like this:
[code]

[2019-04-19 10:36] YourTechBud commented on #167
That's an amazing suggestion. @Jayesh333 lets get this done.

[2019-04-19 12:33] YourTechBud commented on #167
@hyingreborn, I have added this feature in branch `v0.7.0`. It should be merged in master (and hence made live) within a couple of days. Thanks for the awesome idea.

[2019-04-19 15:45] hyingreborn commented on #167
That's great!

[2019-04-19 15:51] hyingreborn commented on #167
@YourTechBud
I thought for a moment, should the security rules feature be moved to the user management side? For the global, you should be able to access all the tables, but for different users, you need to set the access rules. What do you think?

[2019-04-20 03:16] hyingreborn commented on #66
that's very useful ! Can be very easily integrated small front-end project。
It's can be config in yaml file，like this:
[code]

[2019-04-20 03:36] YourTechBud commented on #66
@hyingreborn you think we should add some advance routing capabilities like what nginx does?

[2019-04-20 04:18] hyingreborn commented on #66
@YourTechBud
I think it is enough to provide a basic support. For complex projects, it is clear that nginx is a more professional and more appropriate choice.

[2019-04-20 05:50] YourTechBud commented on #66
Cool. So let's just start with the basic support. @hyingreborn you think you'll be able to implement this one? Or maybe @Inconnu08 you can take this up?

[2019-04-20 06:07] Inconnu08 commented on #66
Me interested to take on this. :-)

[2019-04-20 07:20] YourTechBud commented on #66
Awesome @Inconnu08! Take it up!

[2019-04-20 12:12] Jayesh333 opened #169 "Take grpc port as parameter"
Can space cloud take a `--grpc-port` paramter just like `--port`?
The defaults for http port and grpc port can be 8080 and 8081

[2019-04-20 15:51] MichaelLeeHobbs opened #171 "Real Time TODO App does not work"
What? Tried to run https://github.com/spaceuptech/space-cloud/tree/master/examples/realtime-todo-app

docker run --name mongoTest -p 27017:27017 -d mongo:latest
space-cloud.exe run --config config.yaml

Opened index.html in Chrome twice.
Chrome1: Tried to create an account with many different variations.
Email: a@a.com
Name: auser
Password: qwertyuiop
Response: 409 Conflict - {"error":"User with p

[2019-04-20 15:58] YourTechBud commented on #171
Try changing the port and change the url provided in the html file.

`space-cloud.exe run --config config.yaml --port 8090`

[2019-04-20 16:28] MichaelLeeHobbs commented on #171
No difference.

[2019-04-20 16:31] YourTechBud commented on #171
Oops! just realised the bug. @Jayesh333 just fixed it. Its probably getting build right now! Download the space-cloud version `v0.6.7`! It contains the fix

[2019-04-20 16:33] YourTechBud commented on #171
@Jayesh333 we should get the functional tests in place now. We are closing in to `v1.0.0` now! Sorry @MichaelLeeHobbs for the trouble.

[2019-04-20 16:34] #171 closed

[2019-04-20 16:36] Jayesh333 commented on #171
Yess! We should get functional tests in place.

[2019-04-20 16:46] MichaelLeeHobbs commented on #171
Where is the download at? The only ones I can find are on https://spaceuptech.com/ and are not updated.

[2019-04-20 16:55] Jayesh333 commented on #171
Its live now @MichaelLeeHobbs. The travis build took a couple of minutes.

[2019-04-20 18:37] MichaelLeeHobbs commented on #171
Yeap, got it working. I've also updated/fixed https://github.com/spaceuptech/todo-app I want to do a few more things with the todo-app then I'll send a pull request your way.

[2019-04-20 21:08] MichaelLeeHobbs commented on #126
RUN apk add --no-cache \
        libc6-compat

[2019-04-20 21:21] MichaelLeeHobbs opened #173 "space-cloud does not connect to mongo when ran from inside a container"
Expected: space-cloud to run and connect to Mongo container

Actual: space-cloud running in container alpine:3.9

Dockerfile.server.dev

    FROM alpine:3.9
    #WORKDIR /usr/src/app
    WORKDIR /space-cloud
    RUN set -ex  \
      && apk add --no-cache ca-certificates unzip libc6-compat

    RUN wget https://spaceuptech.com/downloads/linux/space-cloud.zip -O space-cloud.zip
    RUN unzip space-c

[2019-04-20 21:24] MichaelLeeHobbs opened #174 "Need Versioned Downloads"
Long term only having the latest download is not acceptable. Need to be able to version lock ie ```wget https://spaceuptech.com/downloads/linux/space-cloud-0.6.7.zip```

edit: Better yet yarn add space-cloud@0.6.7

[2019-04-21 01:43] YourTechBud commented on #174
Hey @MichaelLeeHobbs. I totally agree with your point. `v0.7.0` is slated to be the first release of space cloud. We'll be versioning the releases on GitHub and our site!

[2019-04-21 01:48] YourTechBud commented on #173
You are not passing the `--config` in your docker command. Also, the current docker release isn't functional. It doesn't expect to load any config file at all. The config file needs to be loded via an HTTP request. We already have an open ticket here #126. Let's move the conversation there?

We also have a ticket related to logging #57. Its on high priority!

[2019-04-21 11:08] MichaelLeeHobbs commented on #173
Uhh opps :D Thanks! Working great now!

[2019-04-21 11:08] #173 closed

[2019-04-21 11:11] MichaelLeeHobbs commented on #57
Here is a sample Dockerfile

    FROM alpine:3.9
    WORKDIR /space-cloud
    RUN set -ex  \
      && apk add --no-cache ca-certificates unzip libc6-compat

    RUN wget https://spaceuptech.com/downloads/linux/space-cloud.zip -O space-cloud.zip
    RUN unzip space-cloud.zip \
        && rm space-cloud.zip \
        && chmod +x space-cloud

    COPY config.yaml .

    ENV PROD=false
    ENV PATH="/

[2019-04-21 11:13] MichaelLeeHobbs commented on #57
Go with an environment variable. Then when running in a container it would be easy to change on the fly without having to rebuild a container.

[2019-04-21 11:13] MichaelLeeHobbs commented on #126
Here is a sample docker file

    FROM alpine:3.9
    WORKDIR /space-cloud
    RUN set -ex  \
      && apk add --no-cache ca-certificates unzip libc6-compat

    RUN wget https://spaceuptech.com/downloads/linux/space-cloud.zip -O space-cloud.zip
    RUN unzip space-cloud.zip \
        && rm space-cloud.zip \
        && chmod +x space-cloud

    COPY config.yaml .

    ENV PROD=false
    ENV PATH="

[2019-04-21 11:26] YourTechBud commented on #57
@speshak and @MichaelLeeHobbs this is a tricky piece. The questions which comes to my mind is, whats the logging level? Where are the logs being published? In a file? Something like statsd or Prometheus?

Maybe we can start with simply logging to a file. Here we'll need the following inputs:
- Enable and disable logging
- Logging level
- File to flush the logs to

[2019-04-21 11:32] MichaelLeeHobbs commented on #150
Is this something coming in 0.7.0? I do not even see a way to pass in the mongo creds.

[2019-04-21 11:33] YourTechBud commented on #126
The problem we are facing with the docker image is, what will be the default config file? If we don't want a default config file then mounting a config from the host will become mandatory! This isn't a cloud native way for doing things.

[2019-04-21 11:41] MichaelLeeHobbs commented on #57
When doing something look for precedent, it will greatly increase the odds of being compatible with what already exists.

For levels: https://www.tutorialspoint.com/log4j/log4j_logging_levels.htm I always use these with one exception. I add an audit/security level to log anything that auditors or security related will need.

Where to send the logs? stdout. Then you can take advantage of Dockers lo

[2019-04-21 11:48] MichaelLeeHobbs commented on #126
I've been working with Docker in production for well over a year now. Most apps that do anything remotely complex so this issue one of two ways. One, you create a custom docker image ie like above. Two, environmental variables. One app we work with you can pass in the config as an environmental variable as a json string. I didn't like the idea of having this massive json string in the docker stack

[2019-04-21 11:51] YourTechBud commented on #150
Unfortunately not. Currently you need to put the mongo credentials in the connection string itself (in the config). It will probably be in the next release.

What we are planning to do is, load the entire connection string from an environment variable.

[2019-04-21 11:58] MichaelLeeHobbs commented on #150
Can you give an example with creds?

[2019-04-21 13:12] joeblew99 commented on #60
I was not intending to.
It was because the pattern for making it DB agnostic are there.

Here is a what i mean: https://www.cockroachlabs.com/docs/stable/change-data-capture.html

You can see all the issues and design.

We need a Unified CDC API.
Then adapters / drivers for each DB type.
We connect to their DB and so there is no need for a GRPC API on their side.
On our side a GRPC API feeding int

[2019-04-21 14:12] MichaelLeeHobbs commented on #126
@YourTechBud If I were you I'd focus on the things that must be done in the core app and let config items be handled by docker and shell scripts as much as possible. I'm still working on the sample Todo App building it out as a docker stack. I'll try to publish something today.

Here's another thought for you. Why not create a collections config table? I've been working on a  solo project; RAD, fo

[2019-04-21 14:31] MichaelLeeHobbs opened #176 "Server URL Path for Proxies"
I've noticed the path for the server starts with /v1/api. Assuming there could be a v2, v3, etc it would be better to have it as /api/v1, /api/v2, etc in regards to proxies. Think HA Proxy for example. If you have the version first then every time there is a new route version you'd have to HA Proxy config or have a regex matcher. While regex would work it has its own issues.

    acl container_api

[2019-04-21 15:20] YourTechBud commented on #60
Makes sense. Would this work in a DBaaS environment (for something like AWS RDS)? We will not have access to the VM the database is running on in that case.

[2019-04-21 15:21] YourTechBud commented on #126
So space cloud is capable of receiving the config via a HTTP request as well. I agree, a massive json string doesn't sound like a good idea! We are considering going the HTTP way and chucking files all together

[2019-04-21 15:26] MichaelLeeHobbs commented on #126
Just thinking, how secure is config via HTTP?

[2019-04-21 15:29] YourTechBud commented on #57
@MichaelLeeHobbs I think we can use the logrus library. Let's give the user the option to decide where to send the logs (to a file or stdout). We can default to stdout for docker.

[2019-04-21 15:30] YourTechBud commented on #150
Here's a link for reference:
https://docs.mongodb.com/manual/reference/connection-string/

Here's an example:
[code]

[2019-04-21 15:31] YourTechBud commented on #126
I love the idea of a `config` collection / table! We could also use something like consul or etcd for this. But using the database would make things a hell lot easier! All we'll need is the connection string and type of the database and that can be taken via an environment variable!

@MichaelLeeHobbs I'm glad Space Cloud could match upto your expectations. Would love to know more about RAD. Sounds

[2019-04-21 15:32] MichaelLeeHobbs opened #177 "db.liveQuery(...).where(condition).subscribe(onSnapshot, onError) - onSnapshot not called for deletes"
Expected: onSnapshot to be called when db.delete(...) is called

Actual: Document(s) are deleted but onSnapshot is not called

delete

    removeTodo(id) {
        db.delete('todos').where(and(cond('id', '==', id))).one().then(res => {
            if (res.status !== 200) {
                console.log('Delete Failed:', res)
            }

        }).catch(ex => {
            // Exception occured wh

[2019-04-21 15:33] MichaelLeeHobbs commented on #150
@YourTechBud Thanks, sorry I even asked. I had just woke up and wasn't thinking 😊

[2019-04-21 15:34] YourTechBud commented on #176
That's a great suggestion. @Jayesh333 let's do this?

[2019-04-21 15:37] YourTechBud commented on #177
That's a bug for sure. @MichaelLeeHobbs you think you can raise the same issue on the js repo as well? Here's a link: https://github.com/spaceuptech/space-api-js

[2019-04-21 15:39] YourTechBud commented on #177
The where clause must get an empty object. It should look something like this:
[code]

@Jayesh333 is this the expected behaviour?

[2019-04-21 15:41] YourTechBud commented on #126
@MichaelLeeHobbs not really it needs to be used only from a trusted network. However, we can always use JWT token to make sure only authenticated servers can update the config. HTTP gives us the ability to hot reload the config without having to restart the server

[2019-04-21 15:43] YourTechBud commented on #150
No problem. After implementing this feature the connection string can also be provided via an environment variable. Something like this would go in the config file:
[code]

[2019-04-21 15:53] MichaelLeeHobbs commented on #177
@YourTechBud The change to the where made no difference. I'll raise the issue on js repo and see if I can fix it if that is where the issue is.

[2019-04-21 18:05] #83 closed

[2019-04-21 18:05] #70 closed

[2019-04-21 18:05] #86 closed

[2019-04-21 18:05] #167 closed

[2019-04-21 18:11] YourTechBud commented on #167
@hyingreborn thats actually a good idea. #126 talks moving the entire config to a table / collection. Why don't you join out discord server to help me understand this better? Here's a link: https://discord.gg/ypXEEBr

Also, the `default` collection rule is implemented now and is live in `v0.7.0`. Thanks for the suggestion!

[2019-04-21 18:14] YourTechBud commented on #177
@Jayesh333 is already on it!

[2019-04-21 19:09] MichaelLeeHobbs commented on #177
I do not have any experience with go but it appears to me that the issue is in ```http.go``` I've dug fairly deeply into the space-api-js and could not find an issue there. I've watched the ws message and I'm not seeing any messages on deletes, only inserts. I have not tested any other operations yet.

I've read over the code in ```http.go``` but the go code is different enough from anything I've

[2019-04-22 03:10] YourTechBud commented on #177
That's a good catch @MichaelLeeHobbs. I've fixed it in `v0.7.1`. Does is solve the bug now?

[2019-04-22 03:35] YourTechBud commented on #133
@Jayesh333 lets close this? I guess you've already implemented this one!

[2019-04-22 03:36] YourTechBud commented on #174
@Jayesh333 lets get this done in Travis itself. Its time to start versioned releases.

[2019-04-22 03:52] akshayjj1997 commented on #146
@YourTechBud what are wildcards to rules?

[2019-04-22 03:54] YourTechBud commented on #146
You see the '*'? Thats a wild card. It can take the value of any other string so matching becomes a lot easier.

[2019-04-22 04:39] Jayesh333 commented on #133
Yes I have already implemented this.

[2019-04-22 04:39] #133 closed

[2019-04-22 13:03] MichaelLeeHobbs commented on #177
Yes, I'm seeing websocket messages for deleted. There appears to be a bug in space-api-js. I'm taking a look at that now as JS is what I do on a daily basis.

[2019-04-22 13:06] YourTechBud commented on #177
Awesome @MichaelLeeHobbs. Keep me updated. I would really love it if you could join our discord server. Would love to have you on board

[2019-04-22 13:15] MichaelLeeHobbs commented on #177
@YourTechBud I'm going to join in a bit. Was planning to latter. 😄

[2019-04-22 13:22] YourTechBud commented on #177
Awesome

[2019-04-22 17:31] MichaelLeeHobbs commented on #177
Resolved

[2019-04-22 17:31] #177 closed

[2019-04-22 19:03] ledex commented on #159
The table might need to change with when #84 is implemented.

[2019-04-22 19:06] ledex opened #183 "Add check for valid email"
When signing up a user the validity of the email address should be checked by sending an email with a confirmation-URL. Also one should be able to set if a user with an unconfirmed email is allowed to sign in.

[2019-04-22 22:25] MichaelLeeHobbs commented on #141
Adding notes for latter. https://godoc.org/github.com/jtblin/go-ldap-client

[2019-04-23 10:24] YourTechBud commented on #183
How do you intend to do it?

[2019-04-23 10:38] ledex commented on #183
I would return a 400 - Bad request stating that the given request does not contain a valid email-address.

[2019-04-23 11:09] YourTechBud commented on #183
But how will we know if its a valid email address!?

[2019-04-23 11:17] 8byr0 commented on #146
As this issue is related to user authentication, it would be good to have a default admin field in config.yaml. Something like this:
[code]

[2019-04-23 11:25] ledex commented on #183
Okay, valid might not be clear here. I mean syntactically correct so just checking against a regex.

[2019-04-23 12:48] YourTechBud commented on #176
@MichaelLeeHobbs, shouldn't we also let the project id come before v1? Something like
`/api/:project/v1` ?

[2019-04-23 13:04] MichaelLeeHobbs commented on #183
Please check https://emailregex.com/ I tried to copy and paste but it does not paste correctly

[2019-04-23 13:06] MichaelLeeHobbs commented on #57
- Enable and disable logging
- Logging level
- File to flush the logs to
- Pluggable Logging endpoints: ElasticSearch, Syslog, etc

[2019-04-23 13:41] MichaelLeeHobbs opened #186 "api.log"
ideas for an api logger
[code]

[2019-04-23 13:53] MichaelLeeHobbs commented on #57
A note on ES per discord discussion. There are a few different ways ES can be auth'ed and they vary by the environment. Below is an AWS example as configured in fluentd.
[code]

[2019-04-23 14:09] YourTechBud commented on #57
Agreed. Lets break this issue down into smaller chucks. Maybe one ticket per module / package we have? Will make it easier to track and contribute. What say?

[2019-04-23 14:30] YourTechBud commented on #183
Im not sure how does this help us. It wouldn't stop anyone from entering an invalid email id. Maybe we should add support to verify email address by sending a verification email?

[2019-04-23 20:42] MichaelLeeHobbs commented on #183
It only makes sure the email is in a valid format. We should actually send users an email with a link to validate they own the email address. Should also have the options to force users to validate before they can actually login.

[2019-04-24 03:48] YourTechBud commented on #146
@8byr0 You can do this instead with what we have already implemented
[code]

Instead of creating a default admin we can have a data explorer to add users from a ui? What say?

[2019-04-24 07:27] ledex commented on #183
That would be perfect. I updated the issue. The only question left is how to implement this:
Should space-cloud itself send the confirmation mail or should a foreign function be called which has to be implemented individually and then sends the mail? And where should the activation-endpoint be? You might want to have a short page stating that the activation has been successful.

[2019-04-24 08:59] zyrex008 opened #187 "Enable offline / online sync for client"
Ideas for javascript client client (and another).

Is it possible to add offline feature to store data when the network is desabled like

- firebase : https://firebase.google.com/docs/firestore/manage-data/enable-offline
- pouchdb : https://pouchdb.com/

thanks

[2019-04-24 11:33] ledex commented on #84
@YourTechBud I think this issue can be closed. It has been solved in #182

[2019-04-24 11:45] YourTechBud commented on #186
This sounds super useful. We should definitely do this. Here are some possible output / storage options:
- Elasticsearch
- Prometheus

Any other ideas?

[2019-04-25 08:10] YourTechBud commented on #183
@ledex we have a module called `functions`. Maybe we can make an engine for handling this?

[2019-04-25 08:33] YourTechBud commented on #187
Thats a great suggestion @zyrex008. We need to do this for all the client drivers since its a pure client side implementation. Let's start with the js library since the realtime feature is already implemented there!

[2019-04-25 08:38] YourTechBud commented on #84
Will close it once `v0.8.0` is merged in master. Not sure how it should work though! It is fixed, but it isn't live yet

[2019-04-25 09:00] YourTechBud commented on #146
@8byr0?

[2019-04-25 09:44] 8byr0 opened #190 "BUG: realtime query conditions ignored, all datas returned"
When using realtime from js SDK, the behavior is not correct.

# How to reproduce
[code]
## Actual behavior
The success callback is triggered each time a new document is added to messages collection. The parameters passed to this cbk contain all documents, no matter the condition.

## Expected behavior
The callback should receive only documents matching the condition and potentially be triggered o

[2019-04-25 09:48] 8byr0 commented on #146
That's something you can actually do with a SQL/NoSQL client but you're right, it would be a good thing to have an embedded web server in space cloud to manage users (and why not datas too, allowing to live edit config)

I've not tried your snippet yet but it should to the job !

[2019-04-25 11:28] ledex commented on #84
Okay. But now it seems that there is still something to do. I would add a tag "v0.8.0" to this issue and close it.

[2019-04-25 13:28] MichaelLeeHobbs commented on #186
AWS cloudwatch logs

[2019-04-25 13:35] YourTechBud commented on #190
I couldn't reproduce this. Seems to work properly on the real-time todo example.

How many times are you calling liveQuery? Are you unsubscribing when it isn't needed?

[2019-04-25 14:07] YourTechBud commented on #84
Done

[2019-04-25 14:07] #84 closed

[2019-04-25 14:08] #169 closed

[2019-04-25 14:53] YourTechBud commented on #186
So lets add the big 3 cloud vendors logging system to the list

[2019-04-25 14:56] YourTechBud opened #192 "Add wildcard entries to security rules"
Thats a great question!! If i understand this question, you want to prevent the client from updating certain columns?

Assuming that's the case and the field / column you want to protect is named `protectMe`, you can have a `match` rule something like this:
[code]

the solution above is not documented I guess. The `utils.exist()` function seems to be a well kept secret. @Jayesh333 we should get th

[2019-04-25 16:18] YourTechBud opened #193 "A snippet to suggest people to upvote issues to help prioritize"
### The problem faced currently?
There is no mechanism for the community to prioritize the features to be implemented.

### How can we solve it?
Add a snippet suggesting adding a 👍 to the issues which are of interest to them

[2019-04-25 19:38] ledex commented on #183
Is the module already implemented though? I cannot see it in the modules folder. If the functions-module is implemented it can be used to forward the verification request to a foreign function/service.

[2019-04-26 00:58] 8byr0 opened #196 "Implement web/REST based admin ui"
### The problem faced currently?
- Managing users can only be done from DB client(not really sexy) or frontend client(needs work before being able to do so).
- Dealing with security rules can be tricky when they grow and become huge

### How can we solve it?
Implement web admin interface with the following features
- [ ] manage users (CRUD)
- [ ] manage collections / db (import / export)
- [ ] rul

[2019-04-26 00:58] 8byr0 commented on #146
Yup ! https://github.com/spaceuptech/space-cloud/issues/196

[2019-04-26 01:45] YourTechBud commented on #146
I've already created a ticket for the wild card support! @bysir-zl is there anything we missed out or can we close this issue?

[2019-04-26 01:48] YourTechBud commented on #196
Do you see this as a web based tool or a desktop app? The final output of the admin ui will be the config file right?

[2019-04-26 01:50] YourTechBud commented on #183
@ledex its already implemented and has a dependency on Nats. In the code base, it is referenced as `faas`. Maybe we should refactor it as functions everywhere.

[2019-04-26 02:23] 8byr0 commented on #196
You want to provide a cross database tool, right ? Let's provide a cross platform interface !

Actually a desktop app would only be a web based tool packaged in atom/electron/whatever ! (when it's about manipulating datas, it's absolutely overkill to do a native app as it will cost more in development & maintain time. And web apps are powerfull enough when packaged: see VScode, slack, postman...)

[2019-04-26 02:30] YourTechBud commented on #196
@8byr0 absolutely! We'll use electron or something similar. Im just thinking about the user flow. Will the app be making changes directly to the local config file or will it connect to a space-cloud dev instance which in turn will manipulate the config file?

We should get @Jayesh333 and @ledex in this one as well.

[2019-04-26 02:38] 8byr0 commented on #196
No I don't think so!
You connect to space-cloud instance that has exposed endpoints and from server-side callbacks, space cloud processes requests and deals himself with the file.

Because if you edit config file from client, it implies that you're running it on the same machine as the server. And as the aim is to be able to run SC in prod, you want to control it remotely !

[2019-04-26 02:44] YourTechBud commented on #196
I agree

[2019-04-26 02:47] YourTechBud opened #197 "Update the docs to include the python api"
### The problem faced currently?
We've worked so hard on the python api and have made it live on pip. But no one knows about it
### How can we solve it?
Lets add the python api to the docs

[2019-04-26 02:55] YourTechBud commented on #196
However @8byr0 we will have to get some authentication mechanism to let a user change the configurations. Something like a `super-admin` or a `super-dev` role

[2019-04-26 03:00] 8byr0 commented on #196
Yes, something you can set in config file for example ?
Like this:
[code]
And at first launch set password (best for security as you would not have to hardcode password in config file)

[2019-04-26 06:35] Jayesh333 commented on #196
Great idea @8byr0. The idea of decoupling the admin UI from the config file for remote control sounds super cool!!

Few questions I have here:
- Does the authentication mechanism suggested here expects the space cloud to always start with a config file? Should we consider starting `space-cloud` without a config file and then configuring it completely via the admin UI? The `space-cloud` can be just

[2019-04-26 06:53] YourTechBud commented on #196
@Jayesh333 Lets just consider updating a single `space-cloud` instance for now! But I love the idea to start `space-cloud` with just a few flags / environment variables and let the admin ui take care of the rest.

[2019-04-26 06:54] ledex commented on #183
Okay. I will have a look into it this afternoon

[2019-04-26 07:04] Jayesh333 commented on #192
This wildcard should also be applicable to the `prefix` field in the security rules of files module.

[2019-04-26 08:23] ledex commented on #97
One question to this issue: Should there be a 'raw'-rule? Something like
[code]

[2019-04-26 09:32] ledex commented on #97
One question regarding this issue: Should there be another rule in the config-yaml like
[code]
or should the query be analyzed in its semantic and the fitting rule (create, read, update and delete) be applied?

[2019-04-26 12:00] YourTechBud commented on #97
@ledex Honestly, `allow` should be used very sparingly. And the variables present in the rule are operation specific. Also, a new user would find it difficult to understand that there are operation specific rule.
In most apps the rules for each operation will be different. Like you might want to deny update and delete to a particular table.

Did I address your question?

[2019-04-26 12:38] YourTechBud commented on #183
@ledex So lets create a ticket to refactor `faas` to `functions`?

[2019-04-26 16:45] ledex commented on #97
Sadly not. If the client sends the following query for example
[code]
which rule should apply? The create rule, right? Because a new document is beeing created. But then the given query has to be analyzed by space-cloud on a semantic level.

I just want to make clear that we are on the same page here and I don't implement something wrong.

[2019-04-26 16:54] ledex opened #198 "Refactor faas-module to functions-module"
### The problem faced currently?
The module-name 'faas' might be misleading.

### How can we solve it?
Refactor the faas-module to functions-module.

This issue was raised in #183

[2019-04-26 16:55] ledex commented on #183
Okay. See #198

[2019-04-26 17:29] YourTechBud commented on #97
So to be clear. This issue was regarding the `where` clause. Currently on the client one does something like this:
[code]

I was hoping to add a functionality like this
[code]
its basically entering the raw mongo db where clause. Ideally there should be no change in `space-cloud`

[2019-04-26 17:44] ledex commented on #97
Ohh wow. I have not read the title correctly... I thought you meant raw queries as a whole... Then nevermind. Also, raw-querries as a whole would not make much sense and wouldn't provide many benefits to the end-user.

[2019-04-26 17:48] YourTechBud commented on #97
What do you mean by raw queries as a whole?

Raw queries on the frontend would give the user access to some mongo features (geo spacial search, etc.) which out client sdk doesn't expose. That was my thought process.

[2019-04-26 18:08] ledex commented on #97
Raw-queries = everything you can also put in the mongo-CLI.

Actually, I have not thought about those features. They might be nice to have on the frontend.
But how to handle the authorization then?

[2019-04-26 18:30] YourTechBud commented on #190
Resolved in spaceuptech/space-api-js#28

[2019-04-26 18:30] #190 closed

[2019-04-26 18:32] #193 closed

[2019-04-26 18:33] YourTechBud commented on #97
Currently the entire `find` object is available as an object in security rules under the `args.find` object. So any raw query can be authorised by simply examining the `args.find` object in the security rules.

[2019-04-26 18:37] YourTechBud commented on #183
Awesome. Leaving this issue open though!

[2019-04-26 18:55] YourTechBud opened #199 "Make a end to end quick start using docker"
### The problem faced currently?
The current steps require the user to follow several steps in order to get a sample app running.
### How can we solve it?
Maybe we can make a getting started guide using docker compose. We can do something like this: https://github.com/MichaelLeeHobbs/space-dock

[2019-04-26 19:02] YourTechBud commented on #126
@MichaelLeeHobbs can we do this, have a default config file which exposes all the tables? Overriding this default can happen by mounting a config file or making a new image keeping the official one as the base. And once we have a admin ui up (#196) we can use that to configure it as well.

[2019-04-27 14:14] MichaelLeeHobbs commented on #196
I was actually thinking that all space-cloud should need to start is environmental variables for the db. The rest could be pulled from the DB or if the DB is empty then it would initialize the db.

[2019-04-27 17:50] MichaelLeeHobbs commented on #126
@YourTechBud I think you have the right idea. Should only need to pass in the db env variables via docker env or docker secrets

[2019-04-28 03:02] YourTechBud commented on #196
@MichaelLeeHobbs that's an important feature. That would be needed when you want to setup an entire cluster of space cloud or something similar. There are two possible ways the operations would work:
- query the database on every request to fetch the security rules (high latency but guaranteed to be the latest config)
- query the db once and load the config in memory.

Which one to go forward with

[2019-04-28 08:38] PascalLeMerrer commented on #128
I wondered at first if the documentation was built using space cloud, so I was concerned by its performances. It look like it's not the case, but this issue gives a poor image of the project.

[2019-04-28 09:08] YourTechBud commented on #126
@MichaelLeeHobbs that support is on its way in #150

[2019-04-28 09:09] YourTechBud commented on #128
@PascalLeMerrer that's a fair point. Will try and get that fixed asap!

[2019-04-29 06:39] ledex opened #201 "Add overview of avavible variables in docs"
### The problem faced currently?
It is not clear which variables (args.auth, etc.) are available in the for rules in the config.yaml
### How can we solve it?
Make an overview of all variables that are at one's disposal when creating rules in the config.yaml.

[2019-04-29 14:35] YourTechBud commented on #201
We can simply make it another section in the same page!

[2019-04-29 14:36] #174 closed

[2019-04-30 18:54] didair opened #204 "Authentication tokens should expire after a given amount of time"
### The problem faced currently?
Right now the token sent with the authentication payload doesn't have a parameter for when it expires.

### How can we solve it?
Implement a DateTime property in the JWT token and make sure that the authentication also gets invalid when it expires on the back end.

[2019-05-01 10:47] SarveshKargutkar opened #205 "Realtime should work when id is not string"
### The problem faced currently?
when we try to implement the realtime feature with integer as an id ,it faces issues

[2019-05-01 16:54] didair opened #206 "Add support MongoDB Object ID's"
### The problem faced currently?
Right now when using a standard mongo collection and auto generated id's you cannot query that item later for e.g. updating since there's a mis-match with the data type.

### How can we solve it?
Option 1: The client sdk's could have a method to generate an Object ID (new or with an string)
Option 2: The back-end automatically generates an Object ID on the `_id` pa

[2019-05-02 03:40] YourTechBud commented on #206
This is an important one to be addressed. It holds true exclusively for MongoDB since it has a custom ObjectID type it assigns.

[2019-05-02 03:45] YourTechBud commented on #204
Makes sense. We can do this. However it shouldn't be the default behaviour. Maybe adding some configuration can activate the lease period for the token.

@didair i have a question here. Should the token automatically be refreshed by the client? Or is the user responsible to do that? Automatic refresh won't work for scenario using 3rd party sign on methods (google, fb, ldap, etc.). Any suggestions?

[2019-05-02 03:46] YourTechBud commented on #205
This can be an easy fix honestly. Need some time to get it right though.

@SarveshKargutkar which data type did you want to use for _id anyway?

[2019-05-02 08:05] YourTechBud opened #207 "Realtime module not referred to in the crud module docs"
### The problem faced currently?
A new user going through the documentation of the `crud` module wouldn't be able explore the option of a realtime query. We might miss out on a potential user due to that.
### How can we solve it?
Maybe we can reference the real-time module on the `read` page for the database docs. This way we are informing the user about the realtime module at the appropriate plac

[2019-05-02 08:55] ledex opened #208 "Rework the role-model for the auth-module"
### The problem faced currently?
The client can set the role when creating an user. This is a security issue, especially when the role is used for authorization rules in the config file.
### How can we solve it?
Rework the role-model so that no unauthorized and no unauthenticated entity can change the role of a user.

[2019-05-04 08:42] didair commented on #204
@YourTechBud no the client shouldnt refresh the token automatically but there should definitely be a built in function in the client to do that. I think the behaviour should be decided by the app and not Space Cloud.

I also like the idea that this feature should be a configuration.

[2019-05-04 08:45] didair commented on #206
Seems like the MongoDB library exports a function to generate an Object ID from a string. Maybe look into that. [https://www.tutorialspoint.com/mongodb/mongodb_objectid.htm](https://www.tutorialspoint.com/mongodb/mongodb_objectid.htm)

[2019-05-05 03:22] YourTechBud commented on #204
That makes sense. Also, the token cannot be refreshed after it has expired right? The user will have to manually sign in again?

[2019-05-06 10:34] didair commented on #204
well.. No. That's a hard question but in this case, no. If the token expires you need to make a manual sign in. I think making it work as close as possible to the current functionality is good.

If you look at how ADAL works you have first an idToken that represent the current authentication session which normally has a longer expiry time. With the id token you can decide if the user is signed in

[2019-05-07 01:26] virusvn opened #209 "The binary space-cloud tried to connect to spaceuptech.com"
### Describe the bug
I download and run space-cloud binary then I received this log (I closed the lid for 10 days, so I don't know when it was):

Metrics Error - rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: Error while dialing dial tcp: lookup spaceuptech.com on [::1]:53: server misbehaving"

It looks like

[2019-05-08 00:04] YourTechBud commented on #209
Hey @virusvn, the `space-cloud` binary collects annonymous metrics (things like modules activated, etc.). To disable metric collection you can pass the `--disable-metrics` flag. None of your secrets (connection strings, jwt secret, etc.) are taken or monitored. @Jayesh333 we should probably document this.

The error you saw was because the gRPC connection with the server broke. But internally it r

[2019-05-08 00:06] YourTechBud commented on #208
@ledex can you also describe a possible suggestion?

[2019-05-08 00:12] YourTechBud commented on #204
@didair So if I understand this correctly the token renewal process can only be initiated by the client (obviously). The token will be renewed when one of the following conditions holds true.
- the token has not yet expired. This will let the client extend the expiry of the token.
- the token has expired but is still held by the client. (Not sure about this one)

Am I missing something here?

[2019-05-08 00:17] YourTechBud commented on #206
@didair I'm not quite sure how will we implement this. Space could can only speak json. So there is no ObjectID type it understands. Maybe we can incorporate this in the schema validation feature #78

[2019-05-08 07:34] virusvn commented on #209
Hi YourTechBud,
You guys is doing awesome project, `--disable-metrics` is OK.

[2019-05-08 07:34] #209 closed

[2019-05-08 12:39] YourTechBud opened #210 "Rename "engines" of in the functions module to "service""
### The problem faced currently?
Currently a collection of functions running is called an `engine`. This name is highly misleading and vague.
### How can we solve it?
Let's rename (or rebrand) `engines` as `services`

[2019-05-08 12:44] YourTechBud opened #211 "Can space cloud have an internal pub sub network."
### The problem faced currently?
Currently Space Cloud relies on an external message broker for several modules like functions and realtime. This makes deployment a lil more difficult since the message broker needs to be set up as well.
### How can we solve it?
We can implement an internal pub sub network within Space Cloud. The `space-cloud` instances can be started with a `--seed-nodes` flag whi

[2019-05-08 13:01] Jayesh333 opened #212 "Can we transform functions module of space cloud into a full fledged service mesh?"
Currently the functions module does not provide monitoring and security for the functions which might restrict a lot of Enterprise usecases. Simply providing these two can transform the functions module into a full fledged service mesh.

We already have a strong security rules mechanism in space cloud. We can leverage that for the service mesh. Combining the simplicity of the functions module and

[2019-05-09 05:01] YourTechBud commented on #208
@ledex we can break this down into 3 aspects if I'm not wrong.
- Default role: We should definitely do this. Its a great idea. Basically you are suggesting that a nee user cannot set the role property during creation. I agree with this.
- Rules for modifying the role: Can this be taken care by the security rules instead? That would let the developer write more complex rules as well. Eg. update rol

[2019-05-09 13:30] YourTechBud opened #213 "Add feature to push data directly to the client from a function"
### The problem faced currently?
The functions written on the backend might trigger events which the client must be interested in.
### How can we solve it?
It would be great if the functions on the backend could asynchronously push data to individual or groups of clients (on the frontend). It could be completely on best effort basis by default and tuned to be reliable as well.

[2019-05-11 06:17] ledex commented on #208
@YourTechBud yes, I agree that it might be better that the rules for modifying rules should be taken care of by the securety-rules. Would be nice if this could be combined.
Regarding the 3rd-party-authenticators: I also would suggest putting this in another feature.

[2019-05-11 09:59] YourTechBud commented on #208
Cool. Let's get this done then

[2019-05-13 11:03] YourTechBud commented on #66
solved in #188

[2019-05-13 11:03] #66 closed

[2019-05-13 11:04] YourTechBud commented on #104
Fixed

[2019-05-13 11:04] #104 closed

[2019-05-14 04:59] YourTechBud opened #215 "Link to the realtime chat app example"
We've got an amazing chat app example ready. Maybe we should link to it somewhere in the docs.

https://github.com/spaceuptech/sample-apps/tree/master/realtime-chat-react

[2019-05-15 07:44] VedantParanjape opened #216 "C++ client for space-cloud"
since this project has many applications except for webdevelopment, it will be cool if this also has a c++ client

[2019-05-15 10:47] YourTechBud commented on #100
Need to make sure the example apps are updated too

[2019-05-16 04:30] YourTechBud opened #218 "Add support for SQL Server"
Let's add support of Microsoft's SQL Server! Will have to update the readme to reflect the new database supported as well.

[2019-05-16 04:56] YourTechBud opened #219 "Add support for 0auth in user management module"
Add support for 0Auth in user management module. We can start with the following:
- Twitter
- Github
- Google
- Facebook

[2019-05-16 05:01] YourTechBud commented on #212
Will require #211 to be done before work can start on this one.

[2019-05-16 05:05] YourTechBud commented on #219
Lets do #208 before we start work on this!

[2019-05-16 05:11] YourTechBud opened #220 "Lets mark the first release on github from v0.8.0"
Its about time we launch the first release on Github

[2019-05-16 05:27] YourTechBud commented on #103
Maybe we can add some better logs.

[2019-05-16 05:35] YourTechBud opened #221 "Updated docs and readme regarding realtime module"
### The problem faced currently?
The new distributed realtime module while be powered by nats. This changes the guarantees provided by the realtime module specially during network partitions. Also, throughout the readme and docs, Apache kafka us the broker mentioned. This is misleading since it gives an impression that kafka is required to run space cloud in production.
### How can we solve it?
Le

[2019-05-16 05:37] YourTechBud commented on #28
The docs are pretty robust now!

[2019-05-16 05:37] #28 closed

[2019-05-16 05:38] YourTechBud commented on #29
Done

[2019-05-16 05:38] #29 closed

[2019-05-16 09:56] kaivalya97 commented on #141
Would also like to see LDAP over SSL (Secure LDAP) support.

[2019-05-17 08:40] YourTechBud commented on #150
Fixed in #217. Will release in 0.9.0

[2019-05-17 08:40] #150 closed

[2019-05-17 17:30] VedantParanjape commented on #208
i think we can follow the role system that is present in discord @YourTechBud @ledex

[2019-05-17 17:36] VedantParanjape commented on #210
can we simply replace all engines with services? @YourTechBud

[2019-05-18 10:34] didair opened #222 ""Listen" address configuration option"
Add a configuration option for space cloud to make it listen on a certain IP or domain.

Example:
[code]

[2019-05-18 10:39] Jayesh333 commented on #222
Thanks for bringing up this feature request @didair

Adding this can make a web server like nginx almost redundant for most of the small applications.

What's your thoughts on this? @YourTechBud

[2019-05-19 12:53] Jayesh333 opened #223 "Upload file with a name"
### The problem faced currently?
The file management module currently takes the name of the file from the file itself. Thus, it's not possible to change the name of the file.
### How can we solve it?
By taking name in formdata

[2019-05-20 01:58] YourTechBud commented on #208
@VedantParanjape thats actually a good idea. But i feel we should not impose any authentication system like role based authentication, etc. Not every app will have an admin who will be changing roles, etc. Lets just have a default role and have security rules dictate who can update it.

[2019-05-20 01:59] YourTechBud commented on #210
Yup. Engine becomes service and engines becomes services

[2019-05-20 02:07] YourTechBud commented on #222
This does sound like an interesting request. But it will work only for the http based protocols. It does seem to make sense to me.

[2019-05-20 03:06] Jayesh333 opened #224 "Profile method also returns the password to the client"

[2019-05-20 05:53] Jayesh333 commented on #224
Will be released in `v0.9.0`

[2019-05-20 05:53] #224 closed

[2019-05-20 05:54] Jayesh333 commented on #223
Will be released in `v0.9.0`

[2019-05-20 05:54] #223 closed

[2019-05-20 11:03] YourTechBud commented on #210
Fix coming in `v0.9.0`

[2019-05-20 11:03] #210 closed

[2019-05-20 15:54] Jayesh333 opened #228 "Add architecture section"
Add architecture section in docs with proper architecture diagram

[2019-05-20 15:56] Jayesh333 opened #229 "Add functions module architecture diagram"
Explain the architecture of the functions module with a proper architecture diagram of functions module

[2019-05-21 04:13] YourTechBud commented on #229
This will probably go with #228

[2019-05-21 23:55] #197 closed

[2019-05-23 09:26] YourTechBud commented on #100
will be fixed in `v0.9.0`

[2019-05-23 09:26] #100 closed

[2019-05-27 09:30] didair commented on #186
Could we please get something that logs to the db or to a textfile on the server?

[2019-05-27 10:25] YourTechBud opened #235 "Add app hosting feature"
### The problem faced currently?
The number of routes to host a react or angular app are too high. It makes the config file size unnecessarily large.
### How can we solve it?
Have a native option to host an app (react and angular) as well.

[2019-05-27 10:31] YourTechBud commented on #207
Lets merge the realtime and the crud module into one.

[2019-05-27 10:35] YourTechBud commented on #198
Resolved

[2019-05-27 10:35] #198 closed

[2019-05-27 10:41] YourTechBud opened #237 "Add option to just listen to the changes in the database and disable offline cache"
### The problem faced currently?
The client APIs fetch and store all client documents currently. This might not always be required. In some cases only the changes in the db is required.
### How can we solve it?
Add an option to disable caching of docs in the client api. Also, space-cloud should not send the existing docs in the subscription request.

Implemented in:
[ ] JavaScript
[ ] Java
[ ] Gol

[2019-05-27 10:45] YourTechBud commented on #176
Not sure if we'll be doing this

[2019-05-27 10:45] #176 closed

[2019-05-27 10:54] YourTechBud commented on #95
Implemented as batch

[2019-05-27 10:54] #95 closed

[2019-05-27 10:57] YourTechBud commented on #50
Resolved

[2019-05-27 10:57] #50 closed

[2019-05-28 01:36] YourTechBud commented on #186
It is in the roadmap @didair. Should be here by july end for sure.

[2019-05-29 05:37] YourTechBud opened #239 "Create readme for each example app"

[2019-05-29 14:36] YourTechBud commented on #208
We wont be continuing the user management module. It will come as a service using the `functions` module

[2019-05-29 14:36] #208 closed

[2019-05-29 14:36] YourTechBud commented on #219
We wont be continuing the user management module. It will come as a service using the functions module

[2019-05-30 12:44] AliabbasMerchant opened #242 "Security Issue in EditProfile"
### Describe the bug
Currently, (although not implemented as yet), the EditProfile method takes in the foll params:
* _id: (str) The user's id
* email: (str) The (optional) new email id
* name: (str) Then (optional) new name
* password: (str) The (optional) new password

Consider the following:
I call the profiles() function, which gives me all the users and their ids.
Now, I can easily call the E

[2019-05-30 12:50] AliabbasMerchant opened #243 "Need to explicitly specify rules for the users table"
### Describe the bug
I can easily create a user keeping the config as shown in https://www.spaceuptech.com/docs/user-management/overview
However, to perform any read or write operation, we need to explicitly specify the rules.

Also, `users` is a very common name. The programmer may already have such a table.
Lets rename the table to something uncommon, like `SpaceCloud_Users_Table`.
So that there

[2019-05-30 12:54] AliabbasMerchant opened #244 "Update Docs for User table"
The docs currently state that for the users table (SQL), we need to have the password column as:
`pass  VARCHAR(50) NOT NULL,`

However, we are using bcrypt to hash the password. This gives password of length 60.

We need to update the docs to reflect this:
`pass  VARCHAR(60) NOT NULL,`

PS: Ideally, we should use `BINARY(60)` instead of `VARCHAR(60)`, but this requires explicit conversion to a bi

[2019-05-30 13:01] AliabbasMerchant commented on #242
We can resolve this by changing the function EditProfile to:
`def edit_profile(self, _id: str, password: str, email: Optional[str] = None, name: Optional[str] = None, new_password: Optional[str] = None):`

[2019-05-30 13:21] AliabbasMerchant commented on #242
Also, what about the token? It will also be updated, right?

[2019-05-30 13:33] YourTechBud commented on #243
@AliabbasMerchant we should specify in the docs that rules are required to read the users collection. User management isn't going to be a production ready module. It's just for easy prototyping

[2019-05-30 13:34] YourTechBud commented on #244
The docs have already been updated but aren't live. Closing the issue

[2019-05-30 13:34] #244 closed

[2019-05-30 13:39] YourTechBud commented on #242
Lets refer to _id as id since the former is mongo specific.
You should be able to apply the read and update rules to the profiles and editProfile functions respectively. I don't think we need to include the password.

[2019-05-31 11:35] YourTechBud commented on #242
@AliabbasMerchant if I've addressed your concern, let's close this issue?

[2019-05-31 11:35] YourTechBud commented on #243
@AliabbasMerchant if I have addressed your concern then let's close this issue

[2019-05-31 12:32] #243 closed

[2019-05-31 12:33] AliabbasMerchant commented on #242
@YourTechBud So is the current implementation of EditProfile correct?

[2019-05-31 16:46] YourTechBud commented on #242
Yes. The one in the PR seems to be correct

[2019-05-31 18:58] AliabbasMerchant commented on #242
Cool

[2019-05-31 18:58] #242 closed

[2019-06-01 00:43] YourTechBud opened #245 "Use the http Context instead of creating one"
The request object in http has a context of its own. Instead of creating the context in every request we should use the one already available

[2019-06-02 08:39] YourTechBud commented on #211
Coming in v0.9.0

[2019-06-02 08:39] #211 closed

[2019-06-02 08:39] YourTechBud commented on #212
Coming in v0.9.0

[2019-06-02 08:39] #212 closed

[2019-06-02 15:38] Inconnu08 commented on #245
I'm up for the grabs 👍

[2019-06-02 15:42] YourTechBud commented on #245
Awesome. Make sure you merge it in v0.9.0 branch

[2019-06-03 08:11] YourTechBud commented on #245
Resolved in v0.9.0

[2019-06-03 08:11] #245 closed

[2019-06-03 11:01] YourTechBud opened #248 "Make a special type for the parsed token"
### The problem faced currently?
A lot of confusion is caused where a particular variable is an parsed token object or not.
### How can we solve it?
Make a new type called `TokenClaims` in the `utils` or `auth` package. This must the parameter and return type when ever the token claims are being passed around.
[code]

[2019-06-03 14:19] YourTechBud opened #250 "Document functions available in security rules"
### The problem faced currently?
The docs for security rules doesn't talk about the functions which can be used in the rules.
### How can we solve it?
Let's add the functions available to the security rules in the docs.

[2019-06-03 14:22] YourTechBud opened #251 "Move http handler functions to utils/handlers package"
### The problem faced currently?
Currently the http handler functions are located in their respective modules package. Some are even in http.go in the root. This makes it extremely scattered and difficult to navigate
### How can we solve it?
Lets move these handlers to the `utils/handlers` package

[2019-06-03 14:23] YourTechBud commented on #251
@Inconnu08 you want to take this issue up?

[2019-06-03 14:32] Inconnu08 commented on #251
@YourTechBud Yes, glad to take it!

[2019-06-07 14:16] YourTechBud opened #261 "move server to its own package in utils/server"
The `grpc_server.go` is getting super large. Let's move `server.go`, `grpc_server.go` and any other related file to another package (`utils/server`)

[2019-06-08 03:17] YourTechBud commented on #248
Solved in v0.9.0

[2019-06-08 03:17] #248 closed

[2019-06-08 03:17] YourTechBud commented on #251
Solved in v0.9.0

[2019-06-08 03:17] #251 closed

[2019-06-13 11:32] Inconnu08 commented on #261
@YourTechBud I'm up for this 🖐

[2019-06-13 14:31] YourTechBud commented on #261
@Inconnu08 great. Its a big one though.

[2019-06-13 18:02] Inconnu08 commented on #261
Hopefully, I'll pull it off

[2019-06-13 18:06] YourTechBud commented on #261
Awesome!

[2019-06-14 05:14] AliabbasMerchant commented on #205
@YourTechBud Lets close this then. PR #268 has solved this issue

[2019-06-14 17:54] YourTechBud commented on #205
Yup

[2019-06-14 17:54] #205 closed

[2019-06-17 02:10] YourTechBud opened #278 "Rename the feedData type from write to insert for all create queries"
Currently the `type` used for create queries is write. This isn't very clear. Let's rename it to `insert`.

[2019-06-17 07:31] YourTechBud commented on #250
Fixed

[2019-06-17 07:31] #250 closed

[2019-06-17 07:31] YourTechBud commented on #60
Fixed

[2019-06-17 07:31] #60 closed

[2019-06-17 07:33] YourTechBud commented on #201
Solved

[2019-06-17 07:33] #201 closed

[2019-06-17 07:33] YourTechBud commented on #207
Solved

[2019-06-17 07:33] #207 closed

[2019-06-17 07:35] YourTechBud commented on #120
They will be separate

[2019-06-17 07:35] #120 closed

[2019-06-17 09:12] YourTechBud commented on #278
Resolved in `v0.9.0`

[2019-06-17 09:12] #278 closed

[2019-06-17 09:13] #221 closed

[2019-06-18 05:19] YourTechBud commented on #261
Solved in v0.9.0

[2019-06-18 05:19] #261 closed

[2019-06-20 11:15] AliabbasMerchant opened #284 "FileMan Bugs"
### Describe the bug
1. Does not work for Windows. The file separator does not match. Everywhere, we have mentioned "/", which is Unix Styled. We need to instead put `os.PathSeparator`
2. There is a small but dangerous bug. If we specify the filenames as `"/../"`, it allows us to insert into the parent folder, which is dangerous. We must use absolute paths to check.

[2019-06-20 12:56] YourTechBud commented on #284
Thats a good one. @AliabbasMerchant are you gonna be taking this issue up?

[2019-06-21 14:44] Inconnu08 commented on #284
I'm up for this if @AliabbasMerchant is busy.

[2019-06-21 14:57] #87 closed

[2019-06-21 15:06] YourTechBud commented on #284
Sure @Inconnu08. Take this up!

[2019-06-21 15:10] YourTechBud commented on #147
Resolved

[2019-06-21 15:10] #147 closed

[2019-06-21 15:12] YourTechBud commented on #130
Fixed

[2019-06-21 15:12] #130 closed

[2019-06-21 15:13] YourTechBud commented on #111
Done

[2019-06-21 15:13] #111 closed

[2019-06-21 15:13] YourTechBud commented on #103
Done

[2019-06-21 15:13] #103 closed

[2019-06-21 15:37] YourTechBud commented on #74
Done

[2019-06-21 15:37] #74 closed

[2019-06-21 15:38] YourTechBud commented on #128
Resolved

[2019-06-21 15:38] #128 closed

[2019-06-21 15:44] YourTechBud opened #289 "Need to reflect the upcoming project `Space Galaxy` in the readme"
We will be launching our hosted solution soon enough. We should reflect that in our readme and docs as well.

[2019-06-21 15:46] YourTechBud commented on #220
Resolved. Marked v0.9.0 as the first release

[2019-06-22 07:06] Inconnu08 commented on #284
on it!

[2019-06-23 10:40] YourTechBud opened #293 "Include the profiler endpoints in the space-cloud binary"
### The problem faced currently?
No way to profile cpu and ram usage for doing optimisation
### How can we solve it?
Include the profiler endpoints in the main binary. Have a `--profile` flag to explicitly enable it.

[2019-06-23 10:40] HeyItsJs opened #294 "Use fasthttprouter to improve performance"

[2019-06-23 15:07] #284 closed

[2019-06-24 11:56] Inconnu08 commented on #293
I'm working on this

[2019-06-27 09:44] YourTechBud commented on #293
Coming in `v0.10.0`

[2019-06-28 01:37] #293 closed

[2019-06-28 01:38] #289 closed

[2019-06-28 06:47] #220 closed

[2019-06-29 03:14] YourTechBud opened #297 "Fix the bugs in the docs"
Here's a list of issues i found with the docs
- [x] the manual quick start page seems to have an outdated config file displayed
- [x] lets add a point in the user man page that the password is bcrypted
- [ ] java docs must have the imports as well to maintain consistency with the other docs
- [x] the golang docs are using an api.Init(). They should use the api.New command instead
- [x] let's have

[2019-06-29 03:16] YourTechBud opened #298 "Lets use an array instead of a map for the file man security rules"
This is important since the alignment of a map can change during json parsing. We need to preserve the order of these rules.

[2019-06-29 11:08] Jayesh333 opened #299 "`utils.exists` method in security rules doesn't work for `auth` object"
### Describe the bug
Whenever we use the `utils.exists` method in security rules to validate whether a field is present in the `auth` object, the rule fails giving an 403 with the error `incorrect` field type
### Expected behaviour
The rule should be validated if the condition (i.e, the required field was present in `auth` obj) was correct.
### Actual behaviour
Instead of considering the request t

[2019-06-29 11:10] Jayesh333 commented on #299
This error is caused because the `convert` method in utils which is used in `loadValue` tries to match the type of the object with `map[string]interface{}`.However the type of `auth` object is of type `TokenClaims`. Hope this information helps to solve the bug

[2019-06-29 11:13] Jayesh333 opened #300 "The `utils.exists` example shown in docs is incorrect"
The current docs shows `utils.exist` instead of `utils.exists` and also it shows the `type` as `string` instead of `bool` in the examples of security rules

[2019-06-29 11:44] Jayesh333 opened #301 "The result sent by call of functions module is inconsistent with the crud module"
### Describe the bug
The functions module returns the result directly instead of sending it in a map with the `result` field, as in CRUD module.
### Expected behaviour
The functions module must return the result in the same fashion as crud module.

[2019-06-29 14:22] AliabbasMerchant commented on #301
I think we should not send it as a map for the gRPC part. gRPC already has the response thing.
We can send it as a map for the http part, if you wish. We should change only the http code. Not the functions code.

[2019-06-29 14:38] YourTechBud commented on #301
For http lets keep it in `result`

[2019-06-29 14:43] YourTechBud commented on #235
@Jayesh333 isn't this default now? `v0.9.0` resolves this right?

[2019-06-29 14:50] Jayesh333 commented on #235
Yess this is resolved in `v0.10`

[2019-06-29 14:50] Jayesh333 commented on #301
Not for grpc? @YourTechBud

[2019-06-29 15:20] YourTechBud commented on #301
@Jayesh333 they work differently! They have a method like `getValue`

[2019-06-29 15:20] #235 closed

[2019-06-29 17:20] Jayesh333 commented on #301
Okay! All I want is the client libraries to return the same result irrespective of what Space Cloud is returning, so that for end user, the experience is same no matter which language he choses

[2019-07-02 07:23] YourTechBud opened #304 "Upgrade the embedded nats server version to v2.0.0"
Nats v2.0.0 has released with some major improvements. Lets upgrade the version of the embedded nats server as well.

[2019-07-02 14:46] #196 closed

[2019-07-02 14:49] YourTechBud opened #306 "Need to finish the pending features in the admin ui"
- Update ui to match the new config structure
- Add option to create projects (restrict max projects to 1 in the open source version)
- Add option to delete projects
- Add billing page (visible only for enterprise version)

[2019-07-02 14:49] YourTechBud commented on #306
@Jayesh333 is anything else pending as well?

[2019-07-02 14:52] YourTechBud opened #307 "Remove the start command space-cloud"
Right now we have a separate command to run the admin ui. Let's remove the `start` command and initialise mission-control in the start command itself. We can probably enable this feature using a flag.

[2019-07-03 07:42] YourTechBud opened #311 "Remove SSL from mission control"
SSL certificate and path will be taken from flags / environment variables only. Its a global config. Lets remove that from mission-control.

[2019-07-03 07:46] YourTechBud opened #312 "Space cloud run command must be able to operate even if config file was not found"
Let's keep a default config file location which can be changed via the cli flags. If the config file is not found, `space-cloud` should still be able to start with a zero state. The admin ui can then create a project.

[2019-07-03 07:49] YourTechBud opened #313 "Space cloud post project endpoint must upsert a project"
The admin UI will post a single config at a time. Space-Cloud will upsert this into ints project array. Matching will be done based on the project id.

[2019-07-03 11:46] YourTechBud opened #315 "Take admin config parameters from environment variable and cli flags"
Currently there is no cli flag to accept admin config parameters like user, pass and secret. We should accept that and overwrite it with what is stored in the config file

[2019-07-03 11:46] #313 closed

[2019-07-03 11:46] #312 closed

[2019-07-03 11:46] #307 closed

[2019-07-03 11:47] #298 closed

[2019-07-03 11:54] YourTechBud opened #316 "Implement delete project in sync manager"
Currently sync manager does not implement the delete project functionality. We should add that!

[2019-07-03 17:03] didair opened #320 "Documentation request: Update javascript sample to include service.start"
Right now the documentation doesn't display the `service.start()` call that is needed to run the function service in Node. This can be a bit confusing for some people. (Me etc)

[2019-07-03 19:50] didair opened #321 "User module stops working after custom authentication entries are created"
### Describe the bug
Right now the user modules stops working if there are other objects in the users database without the field `pass`

### Expected behaviour
The user module should skip the entires with no valid `pass` field (Not empty string, not null, not undefined)

### Your environment
- Space Cloud version: 0.10.x

[2019-07-04 07:55] didair opened #322 "Topic thread: What articles could be written around Space Cloud?"
Hi! We have been talking about how Space Cloud could up it's usage and how to spread the word. This thread is used to provide suggestions on what topics you'd want to se articles about (space cloud related of course).

[2019-07-04 07:56] didair commented on #322
* Making a real time chat app with React and Space Cloud
* Will Space Cloud kill Firebase?
* Making a React.JS app with 1-click back-end and authenticaton
* How to make your own Firebase with Space Cloud

[2019-07-04 11:25] YourTechBud commented on #311
@Jayesh333 this is resolved now right?

[2019-07-04 11:30] #316 closed

[2019-07-04 14:25] #301 closed

[2019-07-04 14:26] #299 closed

[2019-07-06 02:26] YourTechBud commented on #237
Done

[2019-07-06 02:26] #237 closed

[2019-07-09 17:16] #315 closed

[2019-07-12 04:43] YourTechBud opened #325 "Add upsert operation to SQL databases"
### The problem faced currently?
There is no upsert functionality for sql databases.
### How can we solve it?
Let's add an upsert operation similar to mongo.

[2019-07-13 04:25] YourTechBud opened #327 "Have a video in the enterprise pages of the mission control explaining the feature"
### The problem faced currently?
Currently we have some enterprise pages in mission control which has a `Upgrade to avail feature` kind of a message when SC is running on the open source version. We are not telling the user what the feature really is and how will she will be able to use it or apply it to her deployment.
### How can we solve it?
Lets add a video explaining the feature in the alongs

[2019-07-16 07:29] YourTechBud opened #329 "Create a random secret while creating a project"
Right now we are using a constant string `some-secret` as the default JWT secret while creating the project.

Let's create a random string instead? We should do this in the cli as well as in mission control

[2019-07-17 03:54] ShreyaLaheri opened #336 "Mission Control login page not vertically alligned"
The content inside the main-wrapper doesn't align itself vertically with respect to every screen size.

[2019-07-21 06:13] YourTechBud opened #339 "Change the mission control download url to file-storage module"
### The problem faced currently?
Currently the mission-control archive is being hosted out of nginx. Not very scalable or dev ops friendly.
### How can we solve it?
Lets host this archive via the file storage module.

[2019-07-21 13:00] YourTechBud opened #340 "Add private routes in mission control"
Currently does not redirect to its login page if the user is unauthenticated. We should get that fixed.

[2019-07-23 15:37] YourTechBud opened #345 "Have a task queue for SC"
### The problem faced currently?
Its difficult to queue and schedule tasks. Everything has to be done manually via functions.
### How can we solve it?
It would be amazing if we could have or integrate with a task manager for queuing and scheduling tasks we with automatic retries and some strong guarantees.

[2019-07-23 16:34] Jayesh333 commented on #345
What type of tasks are we talking about? @YourTechBud

[2019-07-23 17:17] YourTechBud commented on #345
So let's say an SC function was invoked by some client. The function on a temporary basis can send an ack to the client and schedule the heavy computational task for later. This taks would then trigger another function when certain criteria is met, which can do the heavy processing.

[2019-07-23 17:30] AliabbasMerchant commented on #345
@YourTechBud So after we finish the heavy processing, we again send an ack to the client?

[2019-07-23 17:45] YourTechBud commented on #345
@AliabbasMerchant we don't really need to send an ack to the client in this case. However, the application can choose to push a notification or email or even do nothing for that matter.

[2019-07-23 17:54] Jayesh333 opened #346 "Decouple bucket name from project id in fileStore"
### The problem faced currently?
There is no way to decouple the bucket name of `amazon-s3` from the project id
### How can we solve it?
We can solve this by providing a bucket name in the config file or either in the request directly. If we are mentioning the bucket name in the request itself, then there needs to be some form of mechanism to mention which bucket names are allowed

[2019-07-23 18:05] AliabbasMerchant opened #347 "SC allows requests even if incorrect project name is provided"
### Describe the bug
Suppose the client requests to connect to "projectA" on port X.
If SC is running on port X and doesnt have the project "projectA" (but has project "projectB"), in some cases, the client is given an error, but in other cases, it connects to "projectB"

### Expected behaviour
An error should be returned to the client

### Steps to reproduce
Use "allow" as the rule for file man o

[2019-07-24 09:33] YourTechBud commented on #347
Resolved in 0.10.1

[2019-07-24 11:59] #347 closed

[2019-07-24 12:00] YourTechBud commented on #304
Was done in 0.10.0

[2019-07-24 12:00] #304 closed

[2019-07-24 12:01] #311 closed

[2019-07-24 12:01] YourTechBud commented on #306
Done

[2019-07-24 12:01] #306 closed

[2019-07-24 12:02] YourTechBud commented on #126
Resolved in v0.10.0

[2019-07-24 12:02] #126 closed

[2019-07-30 13:33] Jayesh333 opened #360 "Static route not does not overrides the internal route"

[2019-08-02 09:59] YourTechBud commented on #325
Resolved in v0.11.0

[2019-08-02 09:59] #325 closed

[2019-08-02 10:01] AliabbasMerchant opened #362 "Realtime Security Bug"
### Describe the bug
When the realtime module is not enabled, but the table is realtime enabled, the "initial" results are sent to the client, but a nats error is logged on space cloud
### Expected behaviour
An auth error must be sent to the client
### Actual behaviour
No error is sent to the client
### Steps to reproduce

### Your environment
- Space Cloud version:
- OS:
- The client api version

[2019-08-02 10:59] Stefano1990 opened #363 "Fail service registration when functions module is disabled"
### The problem faced currently?
If functions are disabled in the config file (or mission control) **you can still register functions successfully** but calling them will result in 404.

### How can we solve it?
Either fail the registration or show a banner in mission-control that functions are currently disabled.

[2019-08-02 11:02] #346 closed

[2019-08-02 11:03] #329 closed

[2019-08-02 11:04] YourTechBud commented on #321
@didair This happens in scenarios when a user inserts something in the `users` table / collection from outside the user man module?

[2019-08-02 11:05] YourTechBud commented on #222
@didair why exactly did you need this feature?

[2019-08-04 12:24] nicobrinkkemper opened #368 ""getting started" buttons for all programming languages (js,py,go) link to nonexistent pages"
### Describe the bug
The getting started buttons link to non-existing pages

### Expected behaviour
Clicking to button leads to a page describing how to set-up space-cloud with desired programming language

### Actual behaviour
Page not found

### Steps to reproduce
- Run space-cloud mission control
- open in browser
- click any of the programming language buttons under getting started

### Your e

[2019-08-04 14:39] YourTechBud commented on #368
@Jayesh333 seems like a quick fix. Can you take this up?

[2019-08-04 14:41] Jayesh333 commented on #368
Yess, let's add redirects for the old links as a quick fix and fix the links in the next version.

[2019-08-04 14:43] YourTechBud commented on #368
Sounds good. Assigning it to you

Thanks @nicobrinkkemper for pointing it out.

[2019-08-05 02:06] Jayesh333 commented on #48
Opening this issue again, since what we have implemented is batch operations. We still need to implement transactions which allows to even perform a read operation within the transaction.

[2019-08-05 02:20] Jayesh333 commented on #320
Resolved in `v0.11.0`

[2019-08-05 02:20] #320 closed

[2019-08-05 02:30] Jayesh333 commented on #127
Resolved

[2019-08-05 02:30] #127 closed

[2019-08-05 02:34] Jayesh333 opened #369 "Make mission-control mobile responsive"
### The problem faced currently?
One cannot try the quick start from the mobile itself, since the mission control is not mobile responsive

### How can we solve it?
Make each screen of Mission control (login, welcome, create-project, project overview and all modules page, etc) mobile first

[2019-08-05 02:34] Jayesh333 commented on #336
Is this issue resolved? @ShreyaLaheri

[2019-08-05 02:36] Jayesh333 commented on #199
Resolved in `v0.11.0` by introducing a quick start based on the explorer in mission-control

[2019-08-05 02:36] #199 closed

[2019-08-05 02:38] Jayesh333 commented on #297
Resolved

[2019-08-05 02:38] #297 closed

[2019-08-05 02:40] Jayesh333 commented on #300
Resolved

[2019-08-05 02:40] #300 closed

[2019-08-05 02:45] #146 closed

[2019-08-05 02:51] Jayesh333 commented on #129
We have  [batched mutations](https://spaceuptech.com/docs/database/transactions) and atomic counters now in all the supported databases @Xeoncross

Are our updates race-safe? @YourTechBud. I am not quite sure about it.

[2019-08-05 02:57] ShreyaLaheri commented on #336
No @Jayesh333

[2019-08-05 03:02] YourTechBud commented on #129
@Xeoncross and @Jayesh333. Yes all updates are race-safe since they are executed as a transaction. If two clients end up performing an increment at the same time, one will fail.

Instead of failing the transactions, we can have row level locks as well to carry them out one after the other. This would be pessimistic and cause a huge performance hit

[2019-08-05 03:10] Jayesh333 opened #370 "Add CI/CD to space-cloud and all of its client libraries"
Right now, all of these tasks are manual:
- Testing SC and their client libraries
- Building and uploading archives of `space-cloud` binaries
- Building docker image of `space-cloud` and pushing it to docker hub
- Building Mission Control and uploading its archive

We should add CI/CD so that all of these tasks can be triggered and executed automatically whenever code is merged into `master`.

[2019-08-05 03:18] Jayesh333 commented on #129
As per my views, since SC is designed to be a high throughput data access layer, it should always perform optimistic updates and let the client handle retries.

[2019-08-05 03:24] YourTechBud commented on #129
Sounds good

@Xeoncross all mutations to the database do not go via nats to preserve ordering guarantees. SC directly opens up a transaction makes those conditional updates. If the transaction was successfully committed, SC sends a 200 status code else a 500 along with the error message.
If you were talking about a transaction across databases, that's not what we support.

[2019-08-05 04:27] Jayesh333 opened #371 "Better error messages"
### The problem faced currently
Right now there's now way to know the following:
- Whether it has been successful to connecting to databases or not? If not why? (This been the major one)
- Whether SC is up and running properly
- version and environment SC is running in
- Is it running with SSL or not?

### How can we solve it?
SC should be logging what id does at each stage during the init
For exa

[2019-08-05 04:50] Jayesh333 opened #372 "Troubleshooting guide"
### The problem faced currently?
Right now there's no way for a user to troubleshoot or debug SC for even the most common errors (For e.g., wrong db connection string)

### How can we solve it?
There should be a troubleshooting guide which should be linked in the readme, docs and mission control as well.

This guide should atleast help in the following points:
- Making sure SC is running properly

[2019-08-05 05:03] YourTechBud opened #373 "Convert the docs to Hugo"
### The problem faced currently?
Currently the docs are hosted by a self written node script which isnt very flexible or performant
### How can we solve it?
Lets move to hugo to make things easier to deploy and host.

[2019-08-05 05:13] Jayesh333 opened #374 "Fix the quick start in README"
### Describe the bug
The current README has an outdated quick start about the realtime todo app.

### Expected behaviour
The latest quick start in the docs is based on explorer in mission control. The README should reflect this latest way of quick start

### Actual behaviour
The readme shows the incorrect oudated realtime todo app example for quick start

[2019-08-05 05:39] Jayesh333 opened #375 "Document how to run SC in clustered mode"
### The problem faced currently?
The current docs does not shows how to run SC in clustered mode or a distributed environment, even though SC supports it.

### How can we solve it?
Add a section for clustered mode in various deployment guides(docker, manual)

[2019-08-05 05:48] HeyItsJs opened #376 "Add a debugger to explorer"
### The problem faced currently?
It's hard to understand why a particular request to SC has failed. Is it because of the security rules and if so what am I missing?

### How can we solve it?
The Mission Control has a cool explorer to try out SC APIs. Since this explorer has access to all the project config (including the secret and the security rules) and the request being made, it can help user d

[2019-08-05 07:27] Jayesh333 opened #377 "Discussion thread: Hard time using Space Cloud?"
Hello hackers!

If you had a hard time figuring out how to use SC, you were not alone! Thanks to our warm community, we have been able to identify and solve many road blocks to using SC.

If you have any idea on making the onboarding and usage of SC easy, comment below.

You can also join our [discord server](https://discordapp.com/invite/ypXEEBr) to bounce off ideas and get help from the communit

[2019-08-05 08:23] HeyItsJs opened #378 "OAuth support"
### The problem faced currently?
Right now there is no first class support for integrating OAuth (google, facebook, twitter, github signin/signup)

### How can we solve it?
By adding first class APIs to SC directly to integrate OAuth providers

[2019-08-05 08:31] HeyItsJs opened #379 "Cache support"
### The problem faced currently?
Right now, users have to write a backend function to put data in a cache like Redis

### How can we solve it?
By adding first class support for Redis. The client should be able to mention whether a data is cacheable while inserting it via `options`

For example:
`db.insert(collection).doc(doc).options({cache: true}).apply()`

[2019-08-06 11:48] ShreyaLaheri opened #380 "Sidenav in mission control is not scrollable"
### Describe the bug
Billing section in the sidenav gets cut

### Expected behaviour
All elements from yhe sidenav should be visible.

[2019-08-09 16:39] Jayesh333 opened #382 "Add support for MsSQL"

[2019-08-09 16:40] HeyItsJs opened #383 "Add support for Cassandra"

[2019-08-14 14:05] YourTechBud opened #385 "Lets keep all the quick start docs together"
### The problem faced currently?
We don't have a quick start guide for each of our core modules. The ones we do are kept away from each other. Keeping them in one place will demonstrate all the features in an easy to experiment way.
### How can we solve it?
On the quick start overview page, we can provide the user will all the quick start guide options. I've got several inspirations for this as we

[2019-08-15 13:17] didair commented on #321
@YourTechBud yes correct, in my case users authenticated with Facebook don't have the field `pass` and it makes the user module fail.

[2019-08-31 11:05] sharadregoti opened #396 "space-cloud tries to connect to db even if it is disabled"
even though i disable sql db in config
SC still tries to connect

[2019-09-10 12:08] YourTechBud opened #405 "Realtime functionality cannot be used for insert many operations."
Currently the realtime module doesn't work if for the insert many operation. We should get that fixed.

[2019-09-12 02:31] YourTechBud commented on #374
Fixed

[2019-09-12 02:31] #374 closed

[2019-09-12 02:32] YourTechBud commented on #368
@Jayesh333 is this fixed?

[2019-09-12 02:33] YourTechBud commented on #382
Duplicate of #218

[2019-09-12 02:33] #382 closed

[2019-09-12 02:35] YourTechBud commented on #206
@didair would it be okay if SC automatically generates an _id field which is string?

[2019-09-12 02:37] YourTechBud commented on #129
Solvednin `v0.11.0`

[2019-09-12 02:37] #129 closed

[2019-09-12 02:38] YourTechBud commented on #98
Solved in `0.12.0`

[2019-09-12 02:38] #98 closed

[2019-09-12 02:39] YourTechBud commented on #93
Coming in `v0.12.0`

[2019-09-12 02:39] #93 closed

[2019-09-12 02:40] YourTechBud commented on #59
This is now possible with Graphql in `v0.12.0`

[2019-09-12 02:40] #59 closed

[2019-09-12 02:41] YourTechBud commented on #78
Coming in `v0.12.0`

[2019-09-12 02:41] #78 closed

[2019-09-12 02:44] YourTechBud opened #407 "Automatic encryption and hashing of data before putting it in the database"
### The problem faced currently?
With so many compliances floating all around us, it would be great if SC could encrypt / hash a certain set of fields before inserting it into the database. Encrypted fields must be decrypted before the result is sent to the user.
### How can we solve it?
I think adding a directive to the schema we provide to SC will solve this problem

[2019-09-15 13:42] YourTechBud opened #409 "Implement exponential back off for trigger retries"
### The problem faced currently?
Currently the eventing system immediately retries calling the trigger function if it failed to receive a valid ack. We should give the function sometime to recover in case of a failure
### How can we solve it?
This can be solved easily by implementing an exponential backoff strategy.

[2019-09-18 05:29] Jayesh333 opened #410 "default security rules are not working"
### Describe the bug
Default security rules seem to be ignored

### Expected behaviour
If no rule for a table is found, then default security rule should be appied

### Actual behaviour
My default security rule is to  allow all operations. Still i get the error that no table or collection was found

### Steps to reproduce
Don't create a table/ collection. Leave the default security rules as it is.

[2019-09-23 11:11] didair commented on #206
@YourTechBud since that is the workaround used by probably most people yes that would be an OK solution!

[2019-09-23 11:22] YourTechBud commented on #206
@sharadregoti you think we can add this in the schema validation module?

[2019-09-29 06:57] sharadregoti opened #419 "setconfig errors doesn't propogate to mission control"
### Describe the bug

### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Your environment
- Space Cloud version:
- OS:
- The client api version (if applicable):
- Browser (if applicable):

[2019-10-03 09:22] rmkanda opened #422 "Support for Google cloud storage is missing in the diagram"
Issue: Support for Google cloud storage is missing in the diagram

Space Cloud supports Google cloud storage but in the below logo only AWS is mentioned this is misleading.

<p align="center"><a href="https://www.spaceuptech.com"><img src="https://spaceuptech.com/icons/space-cloud-block-diagram1.png" alt="Space Cloud"></a></p>

<img src="https://spaceuptech.com/icons/space-cloud-detailed.png"  sty

[2019-10-03 09:44] YourTechBud commented on #422
Thanks for pointing it out @rmkanda!

@Jayesh333 let's get this updated!

[2019-10-03 09:50] Jayesh333 commented on #422
Yess! Also I think we need to swap the positions of databases and custom functions, since databases are the core of Space Cloud.

[2019-10-04 09:58] Jayesh333 opened #424 "Inserting boolean values fail with GraphQL"
### Describe the bug
I am trying out this query from the GraphiQL section in Mission control:

[code]

### Expected behaviour
It should give status 200

### Actual behaviour
It's giving the following error - "Invalid data type `BooleanValue` for value true"

### Steps to reproduce
Create a project with name `Todo App` and database as MongoDB. And try running the above query.

### Your environment

[2019-10-04 11:23] Jayesh333 opened #425 "Integer queries not working with GraphQL"
### Describe the bug
The following GraphQL query is not working with Postgres:

[code]
### Expected behavior
The results should be `posts` with `likes` greater than 5.

### Actual behavior
No posts are returned.

### Steps to reproduce
Make a project with Postgres.

Insert a few posts and then run the above query.

### Your environment
- Space Cloud version: v0.12.0
- OS: Linux

[2019-10-04 11:41] Jayesh333 opened #426 "OR clause does not work with AND clause"
### Describe the bug
The following query does not work in Postgres:
[code]
The actual SQL query generated by Space Cloud is:
[code]
### Your environment
- Space Cloud version: v0.12.0
- OS: Linux

[2019-10-04 14:51] Jayesh333 opened #427 "File management bug while creating file/folder"
### Describe the bug
Space Cloud is interchanging the name and path parameters of file while file/folder creation

### Your environment
- Space Cloud version: v0.12.0
- OS: Linux

[2019-10-05 10:10] takeerdevs opened #428 "Automatically save database connection string on clicking setup database."
### Describe the bug
When creating new database connection string and click setup database throws an error **Could not setup db**

### Actual behaviour
When adding new database connection string and click setup database has to save connection string first automatically and then proceed.. currently, you have to manually click save button, which i forgot and ran into finding solution.

### Steps to

[2019-10-05 11:08] YourTechBud opened #429 "Schema validator does not throw error when nested object is not defined in schema"
For the schema given below:
[code]

`space-cloud` does not throw an error even if PostObj is not defined in the schema.

[2019-10-05 11:12] YourTechBud commented on #410
@Jayesh333 I could not reproduce this issue. Closing it for now. Reopen if this issue still exists.

[2019-10-05 11:12] #410 closed

[2019-10-05 11:12] YourTechBud commented on #405
Fixed in `v0.12.0`

[2019-10-05 11:12] #405 closed

[2019-10-05 12:02] #427 closed

[2019-10-05 12:02] #424 closed

[2019-10-05 12:02] #425 closed

[2019-10-05 12:02] #426 closed

[2019-10-05 14:14] YourTechBud opened #431 "Change the default db urls in mission control"
The default urls does not include the ip address and port for the sql databases. We should include that

[2019-10-05 14:16] YourTechBud opened #432 "Add default url and default rule when a db is manually enabled"
### The problem faced currently?
The default url and rule isnt automatically added when a database is manually enabled
### How can we solve it?
Would be great if we could inject them in the config dynamically. Maybe we can inject the default url and rule in each db while creating a new project. Doesn't matter as long as the db is disabled

[2019-10-05 14:18] YourTechBud commented on #428
@Jayesh333 maybe we can first hit the save config endpoint and then setup the database? You think this is possible?

[2019-10-05 14:19] YourTechBud commented on #373
Done

[2019-10-05 14:19] #373 closed

[2019-10-05 14:21] YourTechBud commented on #362
Fixed in `v0.12.0`

[2019-10-05 14:21] #362 closed

[2019-10-05 14:22] YourTechBud commented on #345
Fixed in `v0.12.0`

[2019-10-05 14:22] #345 closed

[2019-10-05 14:24] #363 closed

[2019-10-05 14:26] YourTechBud commented on #213
This can be now done using the pub sub module. Hence closing

[2019-10-05 14:26] #213 closed

[2019-10-05 14:27] YourTechBud commented on #159
@Jayesh333 you think we should do this? We technically can using the schema module!

[2019-10-05 14:30] YourTechBud commented on #132
Hey @daltonrowe. Since we now have a GraphQL api as well. You think you can help us with this feature?

[2019-10-05 14:31] #160 closed

[2019-10-05 14:42] sharadregoti commented on #206
yes we can

[2019-10-07 09:39] YourTechBud opened #433 "Link schema module with graphql"
### The problem faced currently?
While making dynamic joins is really cool, it would be great if we can infer these joins from the schema module so we do not need to specify it in the graphql query.
### How can we solve it?
Not really sure. But lets link the schema and graphql module some how

[2019-10-07 09:41] YourTechBud opened #434 "Introspection of the graphql schema doesn't work"
### The problem faced currently?
Can't introspect the graphql schema. A lot of tooling doesn't work for this reason.
### How can we solve it?
If we manage to do #433 then this might be possible as well.

[2019-10-13 13:21] akhedrane commented on #208
Could you externalize Auth N/Z module to use custom solution like [casbin](https://github.com/casbin/casbin).

[2019-10-13 13:24] YourTechBud commented on #208
@akhedrane casbin looks super exciting. We can definitely do that. Cause you raise a separate issue for that?

[2019-10-13 13:46] akhedrane commented on #208
ok.

[2019-10-13 14:03] akhedrane opened #438 "Externalize Auth N/Z module"
### The problem faced currently?
If we have microservices architecture we should use central authentication/authorization solution, so not every microservice do this work himself.

### How can we solve it?
 - Authentication module should receive JWT Token then check this token via external Authserver. like [what Traefik do here](https://docs.traefik.io/middlewares/forwardauth/).

- Authorization m

[2019-10-13 14:04] akhedrane commented on #208
#438

[2019-10-13 14:22] YourTechBud commented on #438
This is completely possible. We already have a `func` rule which essentially calles an external service for authorization. @akhedrane you think you can have a look at it once? Maybe what you are asking for is already possible?

[2019-10-13 14:40] akhedrane commented on #438
i just noticed that now. so yes it is suitable for our use case.
but what `auth` object contain?

[2019-10-13 14:45] YourTechBud commented on #438
That would contain the token claims. All you need to do is return a

But before you decide to go forward with it, we are depreciating it in favor of normal http servers. So basically, space-cloud will hit an http endpoint and will pass the token along with the request payload. The request will be considered authorized as long as you return 200

[2019-10-13 14:52] akhedrane commented on #438
ok, thank you.

[2019-10-13 14:59] YourTechBud commented on #438
@akhedrane do start with the current implementation. I'd love to help you migrate when the future release comes out. If you want to help us decide how we should go about implementing it, you could stop by our discord server. Would love to hear from you.

[2019-10-13 15:04] akhedrane commented on #438
ok i'll do my best.

[2019-10-15 04:48] dhruvin2910 opened #439 "JSON Schema for validating configuration files"
### The problem faced currently?
AFAIK, space-cloud is configured via providing json, yaml, or (for a limited subset) generating via cli. That works great.

It'd be great if it can have a [schema](https://json-schema.org) file using which docs and autocompletion with types can be provided from inside the supporting IDEs or editors.

### How can we solve it?

There are a couple of ways to solve it:

[2019-10-15 04:57] YourTechBud commented on #439
Hey @dhruvin2910, are you talking about the config file?

I think documenting the config file will be amazing. Thats a great idea. But lets start this after `v0.13.0` release?

Also, i think documenting the rest / graphql apis is far more important than the config file since mission control (the admin ui) generates a config file for sc. You think you can help in that regard?

[2019-10-15 06:07] dhruvin2910 commented on #439
Yes, but for IDEs and Editors, but mainly for intellisense, as developers won't read the schema.

I am not sure about the workflow for providing same configuration file across multiple instances of space-cloud. Correct me if I'm wrong about multiple instances.

1. Will I need to generate the config using dashboard beforehand, save it locally, then provide the same, and not edit it using UI in prod

[2019-10-15 06:16] dhruvin2910 commented on #439
Here's a schema for [prometheus.yml](https://github.com/SchemaStore/schemastore/commit/f7432272a99f4031d670e65ecf14afab115c3b5f) in action.

![Screenshot 2019-10-15 at 11 44 06 AM](https://user-images.githubusercontent.com/9679326/66804818-1c67fb00-ef41-11e9-99dd-04f9bfb22269.png)

[2019-10-15 10:15] sharadregoti opened #441 "Postgres database Cannot create table with column name "user""
### Describe the bug
error | pq: syntax error at or near "user"
getting the above error while creating a table with column name "user"
### Expected behaviour

### Actual behaviour
in Postgres, user is a reserved keyword
so column name cannot be user
but the error message doesn't help figuring out the error
### Steps to reproduce
type dummy3 {
  id: ID! @id
  user : String!
}
use the above schema t

[2019-10-15 10:21] sharadregoti opened #442 "Postgres database creating table with hyphen separated column names does not create table"
### Describe the bug
Creating a table with a column name "end-user" does not create a table in the database
but the schema is added to mission control UI in Schema & Overview section of Database

In Postgres column name should not be in form "end-user" it should be in "end_user"
but mission control returns success creating table with status code 200
### Expected behaviour

### Actual behaviour

##

[2019-10-15 11:39] ledex commented on #57
Even though this issue is pretty old I want to get started implementing the standardized logging for space-cloud. I would recommend using [logrus](https://github.com/sirupsen/logrus).
This looks good on a first view and the logs are generated in JSON and can, therefore, be streamed easily to a centralized logging-and-monitoring-platform. What do you say @YourTechBud?

[2019-10-15 12:26] YourTechBud commented on #57
Sounds perfect. @ledex i was thinking of making this as a module under the `utils` folder. The idea is to implement our own logger. This would be an interface. This will let us add something like elasticsearch in the future without having to change any SC code. Makes sense?

[2019-10-15 15:33] ledex commented on #57
I see. Yeah, we should definitely do that, but I would still base this on the aforementioned logrus. Reimplementing the functionality of logrus doesn't make sense in my eyes.

I would suggest, that I make a proposal in the next few days and then we can improve it from there.

[2019-10-15 16:11] YourTechBud commented on #57
Oh i guess i wasn't clear enough. Lets build it in a way to add implementations in the future. The first implementation will be logrus

[2019-10-16 08:09] shubham4443 opened #443 "Problem with Dates"
1) Date of type DateTime doesnt take milliseconds but it takes only iso standard date
2) date field returns some random text when queried

[2019-10-16 15:16] dhruvin2910 commented on #439
Initial schema without constraints is [here](https://github.com/dhruvin2910/space-cloud/blob/c1a73e16ee3bd4fe83b9ced967f5a2d53babd776/protocol/config.schema.json).

[2019-10-16 15:26] YourTechBud commented on #439
This looks really good!

[2019-10-17 05:50] YourTechBud commented on #443
Fixed in `v0.13.0`

[2019-10-17 05:50] #443 closed

[2019-10-17 05:53] YourTechBud commented on #442
@sharadregoti I think this will be fixed once we implement the new APIs for config changes.

[2019-10-17 05:54] YourTechBud commented on #438
Hey @akhedrane!
[code]
Does this solve you problem? It would be great if you could mark this issue as closed if the solution worked.

[2019-10-17 05:56] YourTechBud commented on #429
@sharadregoti You think you can get this fixed?

[2019-10-17 05:59] YourTechBud commented on #375
This is particularly important now since running SC in clustered mode requires `consul`

[2019-10-17 06:00] YourTechBud commented on #368
Fixed

[2019-10-17 06:00] #368 closed

[2019-10-17 08:49] shubham4443 opened #447 "unique string in mysql"
cannot create unique string record in mysql db

[2019-10-18 15:57] Jayesh333 opened #448 "Tell us if you're using Space Cloud"
Hello folks, please comment here if you or your org is using Space Cloud.

Would love to hear about:

What are you using Space Cloud for?
Why do you like it?
Which company/project are you a part of?

[2019-10-18 19:38] Jayesh333 opened #449 "Change event payload as per Cloud Events CNCF spec"
Instead of reinventing or imposing our own format for event payload, let's use some standard format which is widely acceptable.

The [JSON event spec](https://github.com/cloudevents/spec/blob/v1.0-rc1/json-format.md) by [Cloud Events Specification](https://github.com/cloudevents/spec) are great for this as per my opinion.

This is my suggestion as per Cloud Events Specification:
[code]
I suggest t

[2019-10-18 20:14] Jayesh333 opened #450 "Webhooks specifications"
Instead of reinventing or imposing our own specifications for webhooks, let's use some standard which is widely accepted

The [HTTP webhooks specification](https://github.com/cloudevents/spec/blob/v1.0-rc1/http-webhook.md) by [Cloud Events Specification](https://github.com/cloudevents/spec) are great for this as per my opinion.

This is my suggestion as per Cloud Events Specification:

- Every req

[2019-10-18 20:20] Jayesh333 opened #451 "Depreciate func rule"
As there is no functions module, let's depreciate the `rule: func`.

Instead, I suggest the following rule:
[code]

[2019-10-18 20:23] Jayesh333 opened #452 "Auto detect service type from url"
Let's detect the service type - `direct` or `consul-connect` directly from the service url.

[2019-10-19 02:58] YourTechBud commented on #449
What about headers. Think we should set some header as well so the destination can validate wheather SC has made the request or not?

[2019-10-19 03:01] Jayesh333 commented on #449
[code]
Headers are not specific to events. They can even be required in case of any other webhook requests such as remote service. So let's discuss them here #450

[2019-10-19 03:05] YourTechBud commented on #450
In case of the `Service` module, we'll have a client token as well.so 2 tokens will have to be sent to the target. Maybe we should always set SCs token in the `Authorization` header and set the client's token is a custom header?

[2019-10-19 03:10] Jayesh333 commented on #450
@YourTechBud Not very sure as to which one should be in Authorization and which one should be in custom header. I have seen a lot of examples where people use custom header like `X-<product-name -Signature` so that webhook targets can confirm that the webhook was performed by that particular product/organization.

[2019-10-19 03:10] Jayesh333 commented on #450
But none of them had to forward a request from client to webhook

[2019-10-19 03:25] Jayesh333 commented on #450
For the headers, I can think of two more strategies:
- Forward all headers from client.
- Allow user to configure whether he wants to forrward all headers to client on each webhooks url.

In any of the above case, we can/should take additional headers which user wants to set on a webhook. These headers will override any headers from the client.

[2019-10-19 03:28] YourTechBud commented on #450
[code]
I think SC's token should be set in the `Authorization` header since it will always be there. The client's token can be in another header.

Let's not forward all headers in this release or allow the user to set custom headers. We'll do it if someone asks for it.

[2019-10-19 03:35] Jayesh333 commented on #450
Cool, we can keep the client's token in a custom header like `X-SC-Client-Token`.

[2019-10-19 04:21] Jayesh333 commented on #450
For sake of simplicity, I feel that we can do this with the status codes:
- For security rule webhook, `200` means authorized and anything other than that to be unauthorized
- For event triggers, `200` means processed and anything other than that to be failed resulting in retry as per the retry logic.

Not very sure about the services part though, @YourTechBud you can help there maybe?

[2019-10-19 04:59] Jayesh333 opened #453 "Schema suggestions"
After going through the entire schema thing, I had few thoughts for better semantics and flexibility. I have listed them below:

- The `ID` type should automatically generate a random, unique UUID string if not provided by the mutation.
-  A table/collection should have the flexibility to use multiple fields with type `ID`. Type `ID` should not be looked as `primary key`, since primary key is a co

[2019-10-19 06:56] YourTechBud opened #454 "Add sqlserver support in the schema module"
### The problem faced currently?
The schema module doesn't support sqlserver. Because of this, SC cannot create / inspect tables present in sqlserver.
### How can we solve it?
Lets add support for sql server in the schema module. We just need to add the appropriate queries to inspect the database and create the tables.

[2019-10-19 10:57] YourTechBud opened #455 "Add affected documents field in the GraphQL api"
The crud module can calculate the number of affected documents for mutations. This isn't accessible in the GraphQL API. We should make this number available

[2019-10-19 14:48] sharadregoti commented on #429
yes

[2019-10-20 07:04] YourTechBud commented on #206
This will be solved once we resolve #453

[2019-10-20 07:11] YourTechBud commented on #419
Fixed in `v0.13.0`

[2019-10-20 07:11] #419 closed

[2019-10-20 13:54] didair commented on #448
* Space Cloud is used to make simple CRUD operations easily in a React Native (js) project.
* I like Space cloud for a number of reasons:
1. Great support
2. Open source
3. Bring your own database
4. Performant
5. Easy authentication options
6. Field level security rules that are easy to maintain and customize.
* Space cloud is used by me in my own spare time project.

[2019-10-23 07:49] shubham4443 opened #458 "UI Issue"
Discord fab coming in between pagination when there are too many tables in database

![Screenshot from 2019-10-23 13-17-34](https://user-images.githubusercontent.com/51191406/67370005-9c244400-f597-11e9-8356-cefd06cd9787.png)

[2019-10-23 07:54] shubham4443 opened #459 "Integer type not working"
Getting status 400 with message:
{
  "error": "Float wrong type wanted Integer got Float"
}

when trying to insert docs.

[2019-10-23 07:57] YourTechBud commented on #452
resolved in #456

[2019-10-23 07:57] #452 closed

[2019-10-23 14:16] ledex opened #462 "Tracing in Space-Cloud"
### The problem faced currently?
One graphql-query to Space-Cloud can result in many queries made to the modules attached to space-cloud. This can make finding issues quite hard especially when one query of the client results in queries to the database and to a function:

### How can we solve it?
Implement tracing that allows the admin to see how long each "sub-request" takes. This way you could s

[2019-10-25 08:02] shubham4443 opened #467 "Cannot mutate an existing table when its schema is changed"
I get this error in the terminal where space-cloud is running when I mutate an existing table whose schema I changed recently.

2019/10/25 13:21:59 Eventing Error: event could not be updated Error 1054: Unknown column 'remark' in 'field list'

there is no such column as 'remark' in my table. I had to drop my table and re-create it to fix this issue.

[2019-10-25 08:26] YourTechBud commented on #467
Hey @shubham4443 this isn't a schema module problem. It's a problem with the schema used for the `events_log` table.

@Jayesh333 we need to make sure we both are using the same schema

[2019-10-30 08:32] shubham4443 opened #472 "graphql error: wanted float got integer"
graphql strictly wants float for a field whose schema is float. So if I insert a value without decimal point, I get the error wanted float got integer.

[2019-11-01 08:10] YourTechBud commented on #453
Fixed in `v0.13.0`

[2019-11-01 08:10] #453 closed

[2019-11-01 08:11] YourTechBud commented on #206
Added in `v0.13.0`

[2019-11-01 08:11] #206 closed

[2019-11-01 08:14] #442 closed

[2019-11-01 08:15] #431 closed

[2019-11-01 10:12] YourTechBud commented on #449
Added in `v0.13.0`

[2019-11-01 10:12] #449 closed

[2019-11-01 10:13] YourTechBud commented on #451
Added in `v0.13.0`

[2019-11-01 10:13] #451 closed

[2019-11-01 10:14] YourTechBud commented on #459
Fixed in `v0.13.0`

[2019-11-01 10:14] #459 closed

[2019-11-01 10:14] YourTechBud commented on #467
Fixed in `v0.13.0`

[2019-11-01 10:14] #467 closed

[2019-11-01 10:14] YourTechBud commented on #472
Fixed in `v0.13.0`

[2019-11-01 10:14] #472 closed

[2019-11-01 13:17] Jayesh333 commented on #458
You have any idea of what we can do? @shubham4443

[2019-11-02 04:27] Jayesh333 opened #475 "[RFC] Schema SDL for indexes"
## The `@index` directive:

- valid locations: on table types
- behaviour: Specifies the index that needs to be created on a type
- optional: yes
- arguments:
  - name: String!
    - The name of the index
    - optional: no
  - fields: [Field]!
    - Contains an array of the field names that should make up the index
    - optional: no
  - unique: Boolean
    - Whether this index imposes a unique c

[2019-11-02 05:51] HeyItsJs opened #476 "[RFC] Schema SDL for primary key"
## The `@primary` directive

The `@primary` directive is used currently to make a particular field as primary key. However it has the following limitations:
- No support for composite primary key
- Only a field of type `ID` can be made primary.

I suggest the following SDL for the `@primary` directive:
- Should be applicable for following field types:
  - ID
  - Integer
- Arguments:
  - strategy:

[2019-11-02 06:13] Jayesh333 opened #477 "[RFC] Schema SDL for composite unique key"
## The @unique directive

The `@unique` directive is used currently to make a particular field unique. However, there is no way to create composite unique keys which is very common in most of the applications.

I suggest the following SDL improvements to the `@unique` directive which are non breaking 🙂:

- The  `@unique` directive should be allowed for multiple fields.
- Following field types shou

[2019-11-02 06:18] Jayesh333 commented on #432
Resolved in `v0.13.0`

[2019-11-02 06:18] #432 closed

[2019-11-02 07:15] Jayesh333 opened #478 "[RFC] Schema SDL for default values"
Right now there is no way to provide the default value for a particular field which is a common use requirement in most applications. For example, setting the `published` status of a blog post to `false` when inserting a blog post.

I suggest implementing a `@default` directive to solve this.

_Example_:

[code]

[2019-11-02 08:05] Jayesh333 opened #479 "[RFC] Schema SDL improvements"
Right now the schema module in Space Cloud has the following limitations:

- Only type `ID` can have `@unique` and `@primary` constraints
- No way to override the field types being used in the underlying database. For example, there is no way of using the `TINYINT` type in MySQL for storing `Integer` values or there is no way of setting the character limit of a `String` field to 500.
- No composit

[2019-11-04 06:22] YourTechBud opened #1237 "Need a graphical way to create tables"
typing the schema might not be very convenient for everyone. Maybe we should have a graphical interface to create the schema for us.

[2019-11-04 14:26] Jayesh333 commented on #375
Done in `v0.13.0`

[2019-11-04 14:26] #375 closed

[2019-11-05 04:00] Jayesh333 commented on #428
Hey @takeerdevs, the mission control in Space Cloud `v0.13.0` does not have setup database button. The mission control sets up the database internally whenever you provide a correct connection string.

The new mission control has significant UX improvements. Check it out and let us know your feedback!

[2019-11-05 04:00] #428 closed

[2019-11-05 04:01] Jayesh333 commented on #396
Hey @sharadregoti , does this bug still exist? Try it out once and perhaps even solve it.

[2019-11-05 04:06] Jayesh333 commented on #447
Hey @shubham4443, currently you cannot create `@unique` directive on type `String`. You can only use `@unique` directive with type `ID` as of now.

We have listed this along with other limitations of schema module in this issue - #479. Maybe you contribute your suggestions here.

[2019-11-05 04:06] #447 closed

[2019-11-05 04:17] Jayesh333 commented on #229
We have brought remote services in place of functions module now which has the architecture diagram.

[2019-11-05 04:17] #229 closed

[2019-11-05 04:33] Jayesh333 opened #485 "SC applies the entire config rather than what's changed"
Space cloud had granular config APIs to set the config of various modules. However, internally space cloud still applies the entire config on each config endpoint. This results in errors while setting config of one module because of faulty configuration of other modules.

We should set the config internally on granular levels too as per the config endpoints to solve this problem.

[2019-11-05 04:44] Jayesh333 commented on #396
I think this is related to #485

[2019-11-05 04:54] Jayesh333 opened #486 "Write tests for schema module"
The schema module in the Space Cloud is the most important module as it directly plays with the structure of database.

We should have well written tests for schema module to ensure nothing breaks even on upgrading db drivers

[2019-11-06 07:15] YourTechBud commented on #371
We can send status in the following format for gRPC: https://github.com/googleapis/googleapis/blob/master/google/rpc/status.proto

[2019-11-06 10:31] tomzhang opened #487 "404 not found for the web page of "function""
### Describe the bug
can not found the resources for "function" operation in help page
### Expected behaviour

### Actual behaviour

### Steps to reproduce
![function page not found](https://user-images.githubusercontent.com/541236/68290878-af6cfe80-00c3-11ea-80bd-bc262e606116.png)

### Your environment
- Space Cloud version:
- OS: Mac
- The client api version (if applicable):
- Browser (if applic

[2019-11-06 10:48] akhedrane opened #488 "DBAlias instead DBType in db directives"
### The problem faced currently?

As the api goes public, for security reasons the clients should not know the db type (@mysql...).

### How can we solve it?
Make an alias to database like (@dbname).

[2019-11-06 10:53] YourTechBud commented on #488
This sounds like a great idea. We should absolutely get this done

[2019-11-06 10:55] Jayesh333 commented on #487
Hey @tomzhang. We recently dropped the support for `functions` module in favour of [remote services](https://docs.spaceuptech.com/essentials/remote-services)

Join our [discord channel](https://discordapp.com/invite/ypXEEBr) if you want any help in migrating your existing `functions` to remote services. I will love to personally guide you through it.

[2019-11-06 19:56] shubham4443 commented on #458
Give bottom margin

[2019-11-07 00:18] YourTechBud commented on #458
@shubham4443 can you help fix that?

[2019-11-07 13:55] YourTechBud opened #489 "No way to pass config file path via an env variable"
### The problem faced currently?
When using docker, it gets difficult to change the default config file path.
### How can we solve it?
Lets take this via an env variable as well.

[2019-11-07 13:56] YourTechBud opened #490 "Typo in config file"
There is a type in the json annotation for the operation field in the config.go file

[2019-11-08 02:50] YourTechBud opened #492 "Remote service module can only call static endpoints. We should add support for dynamic endpoints as well"
### The problem faced currently?
Most http servers have dynamic endpoints. By dynamic i mean path parameters. The remote service module cannot generate those endpoints yet.
### How can we solve it?
Let's allow the user to define the endpoint path as `/v1/users/{args.params.userId}`.

The front end graphql query will be like
[code]

In this case, `space-cloud` will query the http service on the `/v

[2019-11-08 02:53] Jayesh333 commented on #492
Yeah! Sounds like an amazing idea! Let's pull this in `v0.13.1`

[2019-11-08 03:06] YourTechBud opened #493 "Add built in support for views in mission control"
### The problem faced currently?
We use views for a lot of things but there is no support in mission control to create, edit, delete or view them.
### How can we solve it?
Maybe we can create a tab in the database module dedicated for views?

[2019-11-10 08:11] Jayesh333 opened #494 "Auto imply nested queries from relations in schema SDL"
Right now, user has to manually join related types in GraphQL queries like these:
[code]

It can be great if we can imply these joins from the schema. For example:

[code]

The `@relation` in above schema won't create any column but is mentioned so that such queries are possible:

[code]

While, the `@foreign` will create a column as well as a foreign key on the the column. The parent table key wi

[2019-11-10 09:30] Jayesh333 commented on #475
### Alternative 2:
Instead of mentioning `@index` at the root level of a type, we can mention it on a field:

[code]

This should create an index named `post_title_date`. The `name` argument has two purposes:
- Override the name of index
- Create composite index

For a single field index, user can even do this:
[code]

I feel this approach better since it is consistent with the other features (uni

[2019-11-10 09:51] Jayesh333 opened #496 "Show GraphQL query snippet in README"
Since Space Cloud now supports and recommends to use GraphQL API. It will be great if our README file can allow people to have a sneak peek at the GraphQL API. Something like [this](https://github.com/dosco/super-graph)

[2019-11-10 10:42] HeyItsJs opened #497 "Remove `remove-project-scope` flag"
Right now we have implemented a quick fix for one of the weird errors MySQL was giving when database name was provided in the query.

We should solve this problem in such a way that there should be no need of providing this flag. The table name to be used in query should be generated based on whether the user has provided the db name in the connection string rather than the value of this flag.

[2019-11-10 11:34] Jayesh333 opened #498 "Realtime module works only if there's an `id/_id` field in the table/collection"
Instead, the realtime module can link to the schema module to figure out the name of the primary field and work with that

[2019-11-10 11:49] HeyItsJs opened #499 "Date comparison in security rules"
### The problem faced currently?
Date based business logic have to be implemented via custom code. For example, preventing any form submissions after a particular date.

### How can we solve it?
Space Cloud has a very robust security module that validates incoming data. If we can introduce functions to generate current time in security rules then we can solve whole lot of date validation logic in

[2019-11-10 12:07] Jayesh333 opened #500 "Show Space Cloud mapping GraphQL queries to SQL in architecture diagram"
CubeJS does this nicely -  https://github.com/cube-js/cube.js#architecture. Really helps user understand the value and architecture in a single picture.  We should also implement something similar in README and docs as well.

[2019-11-12 09:09] YourTechBud commented on #492
As discussed earlier, we are finally going forward with something like this:
**Endpoint:** /v1/users/{args.userId}
[code]

Query to the service
**Endpoint:** `/v1/users/user1`
**Body:**
[code]

Also, the user can configure the http method to be used

[2019-11-12 09:23] YourTechBud opened #502 "Use a time bound context for each handler"
Currently some modules set a time bound context internally. The other modules (the ones related to config) do not use a context at all.

We must create a time bound context in the handler function itself and pass it down to each module to make sure each handler function exits.

[2019-11-12 09:35] Martizs opened #503 "'http: Accept error: accept tcp [::]:4122: accept4: too many open files; retrying in 1s"
### Describe the bug
Hey guyz. I keep getting this error from time to time: 'http: Accept error: accept tcp [::]:4122: accept4: too many open files; retrying in 1s' and when it starts to appear it keeps repeating over and over. It happens seemingly randomly, after some time of space-cloud running(several days, few weeks) this error starts appearing and the frontend starts throwing 500 error codes

[2019-11-12 09:38] YourTechBud commented on #503
This seems like a bug due to requests which are stuck indefinitely. #502 will solve this

[2019-11-12 09:55] YourTechBud commented on #502
Also we need to make sure that the `r.Body` in each http request is closed, even if the body wasn't used

[2019-11-17 15:53] thienpow opened #507 "maybe we can use this Atreugo"
Guys please take a look at https://github.com/savsgio/atreugo

this is currently the best micro web framework in Golang.
maybe we can use it as SC server based.

[2019-11-18 14:05] thienpow commented on #204
just a suggestion, maybe can use Redis to store the jwt token temporary, this would allow a Redis look for expired jwt token to be flushed. and it will speed up client to retrieve existing jwt token if it's not expired. also might as well no need pass the token into a thousands functions in the code... i was drilling into the codes, seeing the token keep being passed into other functions, but most

[2019-11-18 14:23] YourTechBud commented on #204
@thienpow those are some great points.

[code]
Yeah, we need to get that fix.

[code]
Can't we just store these in the token itself?

Also, regarding storing sessional state in redis, thats a great idea. However, I'm a bit hesitate to add a dependency on redis. Maybe we can solve this without having to store stuff in Redis?

Regarding expiry and renewal of tokens, user management module of space-c

[2019-11-18 14:40] thienpow opened #509 "need a bold indication about different syntax of mutation for mongo and postgres"
### The problem faced currently?

din't realize i could not use id and data:{} in mutation query for mongo...

### How can we solve it?

maybe and bold indicator to remind developers that there's a different syntax for mongo and postgres in the mutation query.

place to indicate:
1. mission control -> explorer, can put a link like "Specific Syntax for Mongo and Postgres"
2. mission control -> data

[2019-11-19 06:17] thienpow opened #511 "GraphQL insert should allow return value of at least the id"
<img width="913" alt="Screenshot 2019-11-19 at 2 11 13 PM" src="https://user-images.githubusercontent.com/9796623/69121351-1680af00-0ad7-11ea-8127-f1331a8657c2.png">

currently it return nothing. the only value can be returned is status.
id is important after insert in many use case of a normal app.

[2019-11-19 06:26] thienpow opened #512 "GraphQL upsert doesn't work as it claim"
### Describe the bug

upsert suppose to insert a new record if no record found in the collection, but currently it works like update only.
`
mutation {
  update_pokemons(
    where: {_id: "2"},
    set: {
      name: "PikachuB",
      type: "Electric"
    }
  ) @mongo {
    status
  }
}
`

<img width="1103" alt="Screenshot 2019-11-19 at 2 25 32 PM" src="https://user-images.githubusercontent.com/97

[2019-11-20 08:52] YourTechBud commented on #512
hey @thienpow. The correct query for upsert is
[code]

Seems like the docs are incorrect.

[2019-11-20 08:58] YourTechBud commented on #511
This shouldn't be a very difficult since Space Cloud already generates ids internally. We can trust that the document to be inserted will have a `id` or `_id` field and return that.

However this won't work if the primary key has a different name or is not of type `ID`. @Jayesh333 what should we do?

[2019-11-20 09:02] YourTechBud commented on #509
@thienpow the only difference in the query is the use of `_id` instead of `id` for mongo. Is that what you are referring to?

[2019-11-20 09:05] YourTechBud commented on #507
Looks like a great framework, but it still needs to mature a bit. Let's keep this issue as a reminder.

[2019-11-22 08:52] YourTechBud commented on #503
Fixed in `v0.13.1`

[2019-11-22 08:52] #503 closed

[2019-11-23 04:30] Jayesh333 commented on #487
Fixed. Thanks, @tomzhang for bringing this up!

[2019-11-23 04:30] #487 closed

[2019-11-23 07:50] thienpow commented on #512
https://github.com/spaceuptech/space-docs/pull/13

[2019-11-24 14:31] YourTechBud commented on #512
Fixed

[2019-11-24 14:31] #512 closed

[2019-11-24 14:35] YourTechBud commented on #497
@Jayesh333 i think this is an important feature to have. It's useful when the user wants to use a db name which is not the project id. Let's keep it?

[2019-11-24 14:40] YourTechBud commented on #492
Resolved in `v0.13.1`

[2019-11-24 14:41] #492 closed

[2019-11-24 14:41] YourTechBud commented on #490
Fixed in `v0.13.1`

[2019-11-24 14:41] #490 closed

[2019-11-24 14:48] YourTechBud commented on #489
Resolved in `v0.13.1`

[2019-11-24 14:48] #489 closed

[2019-11-24 14:52] YourTechBud opened #515 "Add etcd support for service discovery"
### The problem faced currently?
Currently, we just have consul for a distributed mode setup. Etcd is a more popular store as compared to Consul
### How can we solve it?
Lets add support for etcd!!

[2019-11-24 14:55] #439 closed

[2019-11-24 14:56] YourTechBud commented on #422
@Jayesh333 do we have an eta on this?

[2019-11-24 14:57] YourTechBud commented on #360
We have removed the module.

[2019-11-24 14:57] #360 closed

[2019-11-24 14:59] YourTechBud commented on #216
@VedantParanjape, we can use the graphql api for this.

[2019-11-24 14:59] #216 closed

[2019-11-24 15:16] Jayesh333 commented on #422
Yes. I have a couple of other ideas as well to improve the readme like showing a graphic of graphql query in the readme itself for which I have created a separate issue as well. We can batch all those graphics changes together.

So let's do it in `v0.15`?

[2019-11-24 15:28] Jayesh333 commented on #502
This is solved right? @YourTechBud

[2019-11-24 15:34] YourTechBud commented on #502
No. The functions in `syncman` are not context bound yet.

[2019-11-24 15:34] YourTechBud commented on #422
Sounds good

[2019-11-24 15:51] Jayesh333 commented on #502
Okay. Let's complete it in `v0.14.0`

[2019-11-25 05:50] Jayesh333 commented on #494
As discussed with the team, here's the final tentative SDL that we wanna support for describing foreign keys and relations:

[code]

The above schema should allow the user to make the following queries:

[code]

[code]
[code]

[2019-11-25 06:12] Jayesh333 commented on #497
The problem with `remove-project-scope` flag as of now is that it is defined globally. Whereas, it should be defined at a database level.

And more importantly Space Cloud should be able to detect whether to remove the project scope or not without the user telling him. If the connection string contains db name then it should remove the project scope otherwise use project scope.

[2019-11-25 06:54] Jayesh333 commented on #511
This is based on what I have seen people usually do to describe the fields to be returned in mutations:

[code]

This should return the following:
[code]

[2019-11-25 08:28] Jayesh333 opened #516 "Auto register Space Cloud with config stores"
### The problem faced currently?
Right now, in production mode, we have to register space cloud instances in the config store (eg: consul). It would be great if space cloud could register itself on init in the config store.

### How can we solve it?
Space Cloud should try to register itself with either the `NODE_ID` provided as environment variables/flag or an auto-generated `id` in the specified

[2019-11-25 08:31] YourTechBud opened #517 "The context is not respected in the functions module"
In `v0.13.1`, we have the following functions call handler.

[code]

We are creating a function with a fixed timeout, i.e. 10s. If there was a function to be called with a larger timeout, the `ctx` will be cancelled but the function call will not terminate.

We should create a `ctx` using the `timeout` variable itself.

[2019-11-25 08:54] YourTechBud opened #518 "Need to move the schema module out of the auth module"
Currently the `schema` module is initialised and stored inside the `auth` module. We should instead initialise it in the `New` function in `utils/server.go` and store it in the `Server` struct. We can pass it as a init parameter if the `auth` module needs it as well.

[2019-11-25 09:49] YourTechBud commented on #485
Fixed in `v0.13.1`

[2019-11-25 09:49] #485 closed

[2019-11-25 11:09] stephanoshadjipetrou commented on #503
hi @YourTechBud

Thanks for this!
Just a question, when is the v0.13.1 be released?

Thanks again!

[2019-11-25 11:11] YourTechBud commented on #503
It should happen anytime today @stephanoshadjipetrou.

[2019-11-25 13:45] YourTechBud commented on #503
Hey @stephanoshadjipetrou and @Martizs, `v0.13.1` is live now. Do comment on this thread if you encounter this bug again.

[2019-11-28 10:40] YourTechBud commented on #494
As discussed, nested inserts for many-to-many relations will not be supported.

[2019-11-28 11:23] YourTechBud commented on #429
resolved in `v0.14.0`

[2019-11-28 11:23] #429 closed

[2019-11-28 11:23] #494 closed

[2019-11-28 12:57] YourTechBud commented on #511
Coming in `v0.14.0`

[2019-11-28 12:57] #511 closed

[2019-11-28 12:59] YourTechBud commented on #455
There is some confusion with this now since we support nested inserts as well. Should we include the number of nested inserts as well in the number returned @Jayesh333 ?

[2019-11-28 13:05] YourTechBud opened #522 "Update docs to reflect changes made in v0.14.0"
Need to update the docs and the getting started blog posts to reflect changes made in #511 and #494.

[2019-12-04 11:45] Jayesh333 opened #525 "Set the correct address for the realtime handler"
Right now the webhook registered by the realtime module for realtime handler is hardcoded to `http://localhost:4122`. Because of this, the realtime feature won't work if Space Cloud is used on some other port.

Let's make this address dynamic.

[2019-12-05 09:29] YourTechBud commented on #454
coming in `v0.15.0`

[2019-12-05 09:29] #454 closed

[2019-12-05 09:34] YourTechBud opened #527 "Update space-api-js for v0.15.0"
- [x] Remove the functions module - spaceuptech/space-api-js#49
- [x] Add support for DB alias spaceuptech/space-api-js#50

[2019-12-06 19:38] takeerdevs opened #528 "Dockerfile in the repo doesn't work as expected"
### Describe the bug
issuing docker build command using Dockerfile included in this repo doesn't work out the box

### Steps to reproduce
clone repo and do docker build using existing Dockerfile

### Your environment
- Space Cloud version: 0.13.0
- OS: MacOs 10.15.1

[2019-12-07 11:45] sharadregoti opened #530 "Add a route for removing database config"
### The problem faced currently?

### How can we solve it?

[2019-12-07 11:49] sharadregoti opened #531 "Overlapping content on blogs page"
### Describe the bug
![image](https://user-images.githubusercontent.com/24411676/70374128-98fdd100-1915-11ea-93a5-38ed8dcd4ea2.png)

### Your environment
- Browser (if applicable): Firefox version

[2019-12-07 11:52] sharadregoti commented on #531
![image](https://user-images.githubusercontent.com/24411676/70374200-2ccf9d00-1916-11ea-9e53-c4b3bff2b896.png)

[2019-12-09 06:38] Jayesh333 commented on #522
Done

[2019-12-09 06:38] #522 closed

[2019-12-09 06:42] Jayesh333 commented on #433
Done in `v0.14.0`

[2019-12-09 06:42] #433 closed

[2019-12-09 06:45] Jayesh333 commented on #218
Added support of SQL server in `v0.15.0`

[2019-12-09 06:45] #218 closed

[2019-12-09 06:47] Jayesh333 commented on #140
Serverless functions can now be triggered via the `remote-services` or via the `eventing` module of Space Cloud.

[2019-12-09 06:47] #140 closed

[2019-12-09 16:33] YourTechBud commented on #488
Coming in `0.15.0`

[2019-12-09 16:33] #488 closed

[2019-12-09 16:36] YourTechBud commented on #530
Done

[2019-12-09 16:36] #530 closed

[2019-12-09 16:37] YourTechBud commented on #525
This only happens when sc is operating in single mode. Can be fixed easily.

[2019-12-10 11:00] stephanoshadjipetrou commented on #503
@YourTechBud the same error (as mentioned by @Martizs) appears even after updating space-cloud to 0.13.1. Does the usage of `api.Service` have to do anything with this?

[2019-12-10 13:53] YourTechBud commented on #503
@stephanoshadjipetrou, `api.Service` has been removed in `0.13.0`. it's probably the reason you are seeing that bug. The functions module has been replaced by the `remote-services` module https://docs.spaceuptech.com/essentials/remote-services/

[2019-12-11 07:24] #527 closed

[2019-12-11 07:25] #97 closed

[2019-12-11 21:03] YourTechBud opened #535 "Add support for the contains query"
### The problem faced currently?
It isn't possible to do a string `contains` query for sql or mongo. For smaller applications it doesn't make sense having a full fledged database like elasticsearch. It would make sense if we allow users to do it on all databases
### How can we solve it?
We'll have to update the `read.go` part of each db we support. We can add this as a new operator. So something l

[2019-12-11 22:21] YourTechBud opened #536 "Add eventing hooks for the file storage module"
### The problem faced currently?
Not possible to do asynchronous operations based on file uploads
### How can we solve it?
We can use an `intent` and `stage` pattern like we have done for the `db` module.

We should also add a `meta` field to the upload payload. The contents of this field can be made available in the payload of the webhook

[2019-12-12 06:46] vuhg opened #537 "Can't input password with special characters to postgres connection string"
### Describe the bug
`space-cloud` throws error when i try to connect to my google cloud postgres db instance with special password:
My password format: Hj#aFxcv736#3cC^6

Here is the error
`parse postgres://simple:Ng: invalid port ":Ng" after host`

### Expected behaviour
Should connect successfully.

### Actual behaviour
Throw unhelpful error.

### Steps to reproduce

### Your environment
- Spac

[2019-12-12 07:09] vuhg opened #538 "More tutorials and it should be in the docs."
### The problem faced currently?
The tutorial aren't clear and they are in the blogs, mean that i have to jump around and google.
That interrupts my learning experience as new comer.

Example: https://blog.spaceuptech.com/posts/getting-started-with-graphql-and-postgres/

### How can we solve it?
It would be great if i can actually build something small/simple with with `space-cloud` while reading

[2019-12-13 09:58] #518 closed

[2019-12-13 09:59] #525 closed

[2019-12-13 10:00] #517 closed

[2019-12-13 10:01] #502 closed

[2019-12-14 04:24] YourTechBud opened #543 "Add schema validation to eventing modul"
### The problem faced currently?
Currently anyone can push any kind of payloads in the eventing module. This can cause the consuming services to break if the schema changes
### How can we solve it?
Lets add schema validation to the eventing module. This way we can force a schema on event payloads making the eventing module more predictable and reliable

We cab probably have a blog post on why this

[2019-12-14 04:27] YourTechBud opened #544 "Add timeout feature to the eventing module"
### The problem faced currently?
We have forced a fixed timeout in the current eventing module implementation. This can be really risky for events which need a lot of time to be processed
### How can we solve it?
Let the event trigger specify the timeout.

[2019-12-14 04:36] YourTechBud opened #545 "Define the events accepted by eventing module"
### The problem faced currently?
Right now users can push any `type` of event. While this is great for prototyping, it can cause several problems in production (typo in event name, etc.)
### How can we solve it?
Lets have a dedicated section to define the kinds of events accepted by SC. We'll still allow users to create events on the fly. Users can register event types upfront with a schema (see #

[2019-12-14 05:40] Jayesh333 opened #546 "Add support of distinct clause to queries"

[2019-12-14 05:54] khannaabhi opened #547 "fix command to run space-cloud in docs"
https://learn.spaceuptech.com/frontend-course/react-basics/install-space-cloud/

![Screenshot from 2019-12-14 11-23-27](https://user-images.githubusercontent.com/39086913/70844238-43b94680-1e64-11ea-9145-0d831712283c.png)

[2019-12-17 04:52] YourTechBud opened #551 "Don't pass modules directly to other modules. Instead pass their interfaces arround"
### The problem faced currently?
Passing modules directly creates a lot of circular dependency problems and it makes individual modules difficult to test.

### How can we solve it?
Instead of passing modules directly, we should pass an interface which each module can implement. This will make it super easy to mock each dependency module simplifying testing

[2019-12-17 07:01] Jayesh333 opened #552 "Security rule to prevent certain fields from being accessed"
### The problem faced currently?

Right now the security rules in Space Cloud does not allow to restrict access to certain **private** fields.

For example, in a food delivery app, we might want to restrict the access of the `address` field to only the user and the delivery man. This is currently not possible in Space Cloud without creating two separate table/collections. While we can definitely c

[2019-12-17 07:06] YourTechBud commented on #552
We'll have to move the crud module inside the auth module. So external services won't be able to call the crud module directly. It will only be possible via the auth module.

While we are at it, @Jayesh333 can we add support to encrypt certain keys as well?

[2019-12-17 07:25] Jayesh333 opened #553 "Security field to override request"
### The problem faced currently?

Currently, there are security rules to prevent a request under certain conditions. However, there is no way we can force or override a request by the user.

For example, one might want the user to query only his todos. The current way to achieve this is:
[code]

However, this results in an authorized request in case the user specifies different `userId` or forgets

[2019-12-17 07:33] Jayesh333 commented on #552
Yeah, that will be an amazing addition! I am not sure though whether that will be a feature of the `schema` module or the `security` module. What do you think? @YourTechBud

[2019-12-17 07:55] s-kris commented on #552
Thanks @Jayesh333 I think this feature will be a valued addition!

[2019-12-17 07:57] s-kris commented on #553
This is good, I had experience with Firebase where the SDK does this and it can be used in the security rules.

[2019-12-17 08:12] s-kris opened #554 "Ability to delete the current project"
### The problem faced currently?
There seems to be no way to delete the project. It'd be nice to delete the existing project and add new one from ui, given that the open-source version has a limit of 1 project per instance.
### How can we solve it?
Trivial

[2019-12-17 08:17] s-kris opened #555 "Option to select a particular database from a list on mongo cluster"
### The problem faced currently?
It'd be nice to choose the root db on which space-cloud operates if there are multiple dbs on a mongo cluster
### How can we solve it?
Run a query from the given mongo connection string to populate the list of databases available and provide the ui-select element to choose a db to operate on.

[2019-12-17 10:47] YourTechBud commented on #555
This is an interesting use case. @s-kris any reason you cannot keep the project id same as the database name.

This is related to #497

[2019-12-17 10:53] Jayesh333 commented on #555
To give some context, sc assumes your project_id as your database name. So let's say you already have a database - `my_db` in Mongo, then you can create a project with name `my_db` so that the project id is `my_db` and so is the db name that space cloud connects to.

[2019-12-17 11:38] s-kris commented on #555
@YourTechBud @Jayesh333 I understood that sc taking the project name as db_name. It is about the UX. As a new user, I'm creating a new project without this info and end up seeing a new db (with the project name). Then I can't rename the project to existing db's name. Then I can't delete the project. Then I can't add a new project due to the limitation in your open-source version. Spinning up a new

[2019-12-17 12:10] Jayesh333 commented on #555
Yes I agree that's a pain! We should definitely solve this.

While adding database via Mission Control, we can let user mention the database name as well below the connection string. By default the database name input will be filled with the project id, which the user can change to match his existing db.

Does this works for you? @s-kris

[2019-12-17 12:38] s-kris commented on #555
Yes, it's definitely better :)

[2019-12-18 15:45] YourTechBud opened #560 "Add support for db schema migration"
### The problem faced currently?
Migrating schema from a test to prod database is still a manual process. Gets super painful.
### How can we solve it?
Have a cli based process (inside the sc binary itself) which can pull and apply schema changes to running sc instances).

We could probably export the entire project itself. In this case, we'll have to be careful about the secrets we store in the co

[2019-12-20 01:03] YourTechBud opened #562 "Add data loader inside crud module"
### The problem faced currently?
Currently, custom services need to implement a query batching mechanism themselves for building high throughput systems. This is difficult to architect and if done wrong, can bring the whole database down.
### How can we solve it?
We should probably have a data loader built into the crud module. This way all read requests can be batched up to improve performance. T

[2019-12-20 06:31] high-functioning-sociopath opened #563 "GraphQL syntax error (docs)"
![image](https://user-images.githubusercontent.com/31245706/71234788-12d38880-2320-11ea-933a-d4ec8d2f1051.png)

link: https://docs.spaceuptech.com/auth/authentication/
issue: missing colon!

[2019-12-20 11:19] s-kris opened #565 "Saved schema is missing for mongodb"
### Describe the bug
After creating a table with Schema, reloading the mission-control deletes the schema.
### Expected behaviour
Schema should be present after creating a table
### Actual behaviour
Schema is missing (as seen on schema tab)
### Steps to reproduce
1. Install brand-new SC instance and setup mongodb
2. Create a new table with schema
3. Reload mission-control and see the schema for re

[2019-12-20 11:20] s-kris opened #566 "option to backup/restore schema/config/project/instance"
### The problem faced currently?
It is important to have a backup restore option either via download or to any cloud service.
Ironically I faced this #565 bug while thinking of this feature
### How can we solve it?

[2019-12-20 11:35] s-kris opened #567 "no suggestions in explorer while writing a query"
### Describe the bug
Even after defining the schema for tables, the explorer doesn't suggest the fields while writing a query
### Expected behaviour
Suggestions for schema fields while writing a query in explorer
### Actual behaviour
No suggestions are displayed
### Steps to reproduce
Add a table with schema and write a query in explorer
### Your environment
- Space Cloud version: v0.13.1 [Deploye

[2019-12-20 12:43] Saif-Ali-Kamal opened #568 "delete project config"
### Describe the bug
delete project config not deleting  the projects from config.yaml
### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Your environment
- Space Cloud version:
- OS:
- The client api version (if applicable):
- Browser (if applicable):

[2019-12-20 14:18] YourTechBud commented on #565
@s-kris can you try `v0.14.0` and see if the issue persists there as well?

[2019-12-20 14:20] YourTechBud commented on #566
That's a really good point. @s-kris  Do you think a `Download Config` button to download the entire config as yaml will work?

Maybe @Jayesh333 can add this in `v0.15.0` itself

[2019-12-20 14:48] s-kris commented on #566
Yes, it will :)

[2019-12-20 14:49] Jayesh333 commented on #566
Cool! We can add this in `v0.15.0` only then.

[2019-12-20 15:12] s-kris commented on #565
It seems to be fine in v0.14.0
Thank you

[2019-12-20 15:12] #565 closed

[2019-12-21 04:33] s-kris opened #569 "Docs for custom auth integration"
Kindly add the documentation to integrate 3rd party/custom authentication module with space-cloud.

[2019-12-21 05:15] s-kris opened #570 "UI Enhancements to mission control"
Kindly add Logout button in the header and a link to 'About' section in the sidebar.
About section should include
- current version of SC
- underlying OS
- one click copy of above info
- link to docs
- link to github
- link to discord
- create a github issue link
- (optional) announcements

These will be incredibly helpful to perform repetitive tasks straight from mission-control.

[2019-12-21 06:52] sharadregoti opened #571 "Schema Inpection does not support @link directive"
### Describe the bug
scheam inpector functionality in scheam module, will not add @link directive during reload scheam event if it is present in actual table.

[2019-12-21 06:58] sharadregoti opened #572 "Bug in list directive functionality of GCP file storage module"
### Describe the bug
file storage moudle for gcp storage is not able to list files

[2019-12-21 07:01] YourTechBud opened #573 "Add regex support for update and delete where clauses"
### The problem faced currently?
Can't use regex in where clauses for update and delete operations. It's only available for get / read operations
### How can we solve it?
Currently to implement regex in where clauses, we simply replace the `FIELD_NAME = ?` with the appropriate operator for SQL databases. This approach will not work for update operations. We need to write a custom string replace fu

[2019-12-21 07:02] YourTechBud commented on #571
This happens because fields with the `@link` directive are virtual, i.e. the database does not know about it at all.

[2019-12-21 07:03] YourTechBud commented on #552
Coming in `v0.15.0`

[2019-12-21 07:03] #552 closed

[2019-12-21 07:06] YourTechBud commented on #450
We have decided that SC will forward the client's token in the `Authorization` header. It will also include it's own header in the `x-sc-token` header.

This is coming in `v0.15.0`

[2019-12-21 07:06] #450 closed

[2019-12-21 07:07] YourTechBud commented on #553
Coming in `v0.15.0`

[2019-12-21 07:07] #553 closed

[2019-12-21 07:08] YourTechBud commented on #570
That's a great idea. We should definitely do this!

[2019-12-21 07:10] YourTechBud commented on #569
@s-kris can you give us a few examples which you would like us to cover first?

[2019-12-21 07:11] YourTechBud commented on #568
We should fix this.

[2019-12-21 07:16] YourTechBud commented on #567
Same as #434

[2019-12-21 07:45] s-kris commented on #434
Given that #433 is solved in `v0.14 ` any thoughts on this and #567 ?

[2019-12-21 07:46] s-kris commented on #569
1. Private auth server (JWT)
2. Firebase authentication

[2019-12-21 08:05] Jayesh333 commented on #569
Looks good! Can start with these two.

[2019-12-21 08:35] s-kris opened #574 "Save the user-jwt token in explorer"
### The problem faced currently?
Inputted user token is not saved in Explorer and lost after navigation.
It'd be helpful to have an option to test queries with multiple tokens to test authorization.

### How can we solve it?
Trivial

[2019-12-21 08:58] Jayesh333 commented on #574
By multiple tokens here you mean the ability to switch between tokens with different claims for testing purpose and not multiple jwt secrets right?

If that's the case I have another suggestion. Maybe we can have a jwt token builder in explorer itself which let's you put claims in json. This way there is just a single token but it's value can be easily changed from the explorer itself. What do you

[2019-12-21 09:34] s-kris commented on #574
1. Correct. Multiple tokens for testing different claims and NOT different jwt secrets.

2. Jwt token builder will be awesome. It will be easier to use than generating the jwt token elsewhere and pasting in explorer. However if you think it's over engineering, just give us the good old text boxes to copy-paste :D

[2019-12-21 15:09] Jayesh333 opened #575 "Token builder to test queries"
### The problem faced currently?
Right now we have to manually create and copy paste tokens in the explorer to test the APIs and security rules. When testing the queries for multiple security conditions which involves changing JWT tokens, it becomes a painful task to create tokens and come back to explorer to paste them.

### How can we solve it?
Have a token builder in the explorer itself which t

[2019-12-21 15:10] Jayesh333 commented on #574
Created a separate issue #575  for token builder. Let's keep this issue limited to persisting the jwt token as these two are separate tasks.

[2019-12-21 18:06] s-kris opened #576 "Clear the saved jwt token (admin login) upon signature mismatch"
### Issue
Redeploying space-cloud on same domain causes signature mismatch issue upon login due to the previously saved jwt token in local storage (with a different password/secret)

### Temp Fix
Clear the old jwt token from local storage manually

### Solution
Clear the saved jwt token from local storage via front-end upon signature mismatch error

[2019-12-22 03:19] YourTechBud commented on #434
Introspection is a very tricky piece. Since we have implemented GraphQL ourselves, we will have to implement the introspection piece ourselves as well.

Let's try to do this in `v0.16.0`?

[2019-12-22 03:23] YourTechBud commented on #576
Just to confirm, @s-kris you are running space-cloud without the `--dev` flag right?

[2019-12-22 03:25] YourTechBud commented on #574
@s-kris don't worry, @Jayesh333 will do anything to make your life easier! 🤣

[2019-12-22 06:51] s-kris commented on #576
@YourTechBud correct, without `--dev` flag.

[2019-12-22 06:56] s-kris commented on #434
Thank you @YourTechBud
Just a small addition, it'd be nice to have a `flag` to turn this feature on/off.

[2019-12-22 08:34] s-kris opened #577 "Allow to create tables without security rules [default rule should be applied automatically]"
As there is a 'default' rule in the `rules` tab, allow users to create tables without individual security rule. And that default rule should be applied automatically.

P.S: On a related note, allow to clear rules for a table (after it is created) and save it. Again, the default rule is automatically applied.

[2019-12-22 08:55] Jayesh333 commented on #568
coming in `v0.15.0`

[2019-12-22 10:39] YourTechBud commented on #577
We already have this feature built in. @Jayesh333 we should allow the user to opt in into defining security rules for a particular table and later delete if they wish to.

[2019-12-22 18:08] s-kris commented on #574
you are awesome guys haha!

[2019-12-25 05:50] YourTechBud commented on #535
Coming in `v0.15.0` in the form of regex support

[2019-12-25 05:50] #535 closed

[2019-12-26 03:27] YourTechBud commented on #478
Done

[2019-12-26 03:27] #478 closed

[2019-12-26 03:27] Jayesh333 commented on #478
Is it done for all databases including mongo?

[2019-12-26 03:28] YourTechBud commented on #478
Yes!

[2019-12-26 03:30] Jayesh333 commented on #566
Coming in `v0.15.0`. You will be able to export/import config of a particular project in json/yaml

[2019-12-26 03:30] #566 closed

[2019-12-26 07:29] khannaabhi opened #580 "do not create an index and an unique index on columns with same group name"
Throw an error when user try to create an index and an unique index on columns with same group name

[2019-12-26 08:07] YourTechBud commented on #369
@Jayesh333 lets close this if its done?

[2019-12-26 08:10] Jayesh333 commented on #369
It's not done yet

[2019-12-26 10:07] YourTechBud commented on #563
Done

[2019-12-26 10:07] #563 closed

[2019-12-26 10:18] khannaabhi opened #581 "Cannot change field type of indexed field"
when changing the Fieldtype, column is drop first and then index is dropped

[2019-12-27 10:48] shubham4443 opened #584 "Customize context deadline for graphql"
self explanatory title

[2019-12-27 14:27] s-kris opened #585 "default rule isn't shown when creating new tables from sc-gui"
### Describe the bug
When we are adding a new table from space-cloud gui, default security rule isn't auto-filled. Instead the 'allow-all' rule is applied.

### Expected behaviour
default security rule should be auto-filled for newly created table
### Actual behaviour
allow-all rule is auto-filled
### Steps to reproduce
1. Install & configure new sc-instance.
2. Create new project and add database

[2019-12-27 14:27] s-kris opened #586 "default rule isn't applied to newly tracked tables"
### Describe the bug
When we track a new table which was created outside of space-cloud gui (but in the same database), default security rule isn't applied to it. Instead the 'allow-all' rule is applied.

### Expected behaviour
default security rule should be applied for newly tracked table
### Actual behaviour
allow-all rule is applied
### Steps to reproduce
1. Install & configure new sc-instance

[2019-12-27 14:55] YourTechBud commented on #586
@Jayesh333 this seems like an easy fix. Lets just make sure we upload the default security rule whenever a table is tracked.

Also, we should show the default security rule in the add table modal

[2019-12-27 14:57] YourTechBud commented on #585
As mentioned in #586, this should be fixed

[2019-12-27 14:57] Jayesh333 commented on #586
Yes, writing a detailed answer around these 3 related issues on a separate issue

[2019-12-27 15:05] Jayesh333 commented on #577
The current scenario:
- On any CRUD request, SC validates it based on the rules for the concerned table. If no rule for the requested table is found, then SC validates the request based on the default rules. If default rules are also not provided then in that case SC rejects that request with 403
- Whenever you add a database to SC via Mission control, it configures the `allow` rule as the default

[2019-12-27 15:12] Jayesh333 commented on #577
I am assuming that most of the times, user won't be willing to change security rules while creating the table. If that's not true, then while creating table, we can have checkbox that says `Apply default security rules` which will be checked by default. If user unchecks it, then he will be provided an input to put in the security rules which again will be prefilled by the default rules.

[2019-12-27 15:18] s-kris opened #587 "add 'in' evaluater to security rule"
### The problem faced currently?
We need to use 'or' and write multiple clauses to compare a value with multiple options (for example to check if args.auth.role is in an array of values ['role1', 'role2', 'role3'])
### How can we solve it?
As talked on discord,
[code]
the above 'in' evaluator will be very helpful in writing efficient security rules

[2019-12-27 20:08] s-kris commented on #577
@Jayesh333 you had summarised nicely. I'm just adding to that.

1) Kindly provide checkbox thing as you mentioned. It is more elegant and better ux.
2) Done
3) Done
<---new--->
4) Kindly look at the screenshot for making changes to `rules` tab.
5) Use the above guidelines for `schema` tab too.
6) I suggested to increase the size of Rules/Schema input box because, it's too small in height to write

[2019-12-28 10:54] YourTechBud commented on #536
Coming in `v0.15.0`

[2019-12-28 10:54] #536 closed